{% extends "layout_bsa.html" %}

{% block page_title %}
{{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">    
    {% include "includes/phase_banner_beta.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Error pages</h1>
            </div>

            <ul class="list list-bullet">
                <li><a href="error/page-not-found">Page not found page</a></li>
                <li><a href="error/session-timeout">Session time out page</a></li>
                <li><a href="error/problem-with-the-service">Problem with the service</a></li>
                <li><a href="error/service-unavailable">Service unavailable</a></li>
            </ul>
            
        </div>
    </div>

</main>

{% endblock %}
