{% extends "layout_bsa.html" %}

{% block page_title %}
2015 Scheme pension calculator - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}

    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}
    
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">How much of your pension would you like to take as a lump sum?</h1>
            </header>

            <form method="post" class="form" action="lump">
                <fieldset class="form-group">
                    <legend class="visually-hidden">How much of your pension would you like to take as a lump sum?</legend>

                    <p class="form-hint">A lump sum is a single payment paid to you in full on the date you start taking your pension.</p>
                    <p class="form-hint">You can choose to take any amount of lump sum up to your maximum amount, this changes based on the age you want to take your pension.</p>

                    {% if ( data['schemeReference'] === '2008') or ( data['schemeReference'] === '1995') %}
                    <div class="multiple-choice">
                        <input id="min-lump" type="radio" name="lump-amount" value="Min" {{ checked('lump-amount','Min') }}>
                        <label for="min-lump">£{{ data['getMinLump'] }} (Your minimum amount)</label>
                    </div>
                    {% else %}
                    <div class="multiple-choice">
                        <input id="no-lump" type="radio" name="lump-amount" value="None" {{ checked('lump-amount','None') }}>
                        <label for="no-lump">£0 (No lump sum)</label>
                    </div>
                    {% endif %}

                    <div class="multiple-choice">
                        <input id="specific-age" type="radio" name="lump-amount" value="Max" {{ checked('lump-amount','Max') }}>
                        <label for="specific-age">£{{ data['getMaxLump'] }} (Your maximum amount)</label>
                    </div>

                    <div class="multiple-choice" data-target="other-amount-panel">
                        <input id="specific-date" type="radio" name="lump-amount" value="Other" {{ checked('lump-amount','Other') }}>
                        <label for="specific-date">Another amount</label>
                    </div>

                    <div class="js-hidden" id="other-amount-panel">
                        <div class="panel panel-border-narrow">
                            <label class="form-label" for="other-amount-value">
                                How much lump sum?
                                <span class="form-hint">
                                    You can't take more than £{{ data['getMaxLump'] }}.<br>
                                    The amount you enter will be rounded down to be divisible by 12.
                                </span>
                            </label>                            
                            {{ govukCurrencyInput({
                                id: "other-amount-value",
                                name: "other-amount-value",
                                classes: "form-control"
                            }) }}
                        </div>
                        {# <details>
                            <summary><span class="summary">Why is it divisible by 12?</span></summary>
                            <div class="panel panel-border-narrow">
                                <p>You can increase the amount of lump sum you take and have a smaller pension. We pay for this by reducing your pension by £1 for every £12 of extra lump sum you choose to take.</p>
                            </div>
                        </details> #}
                    </div>
                </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Update">
                </div>
            </form>
      
        </div>
    </div>

</main>

{% endblock %}
