{% extends "layout_bsa.html" %}

{% block page_title %}
Summary of your contact details - My NHS pension - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Your details</h1>
            </div>

            {% include "includes/last-updated.html" %}

            <h2 class="heading-medium">Personal details</h2>

            <dl class="govuk-check-your-answers cya-questions-short cya-no-change">
                <div>
                    <dt class="cya-question">Full name</dt>
                    <dd class="cya-answer">{{ data['fullName'] }}</dd>
                </div>

                <div>
                    <dt class="cya-question">National Insurance number</dt>
                    <dd class="cya-answer">{{ data['nino'] }}</dd>
                </div>

                <div>
                    <dt class="cya-question">Date of birth</dt>
                    <dd class="cya-answer">{{ data['dateOfBirth'] }}</dd>
                </div>

                <div>
                    <dt class="cya-question">Gender</dt>
                    <dd class="cya-answer">{{ data['gender'] }}</dd>
                </div>
            </dl>

            <h2 class="heading-medium">Contact details</h2>

            <dl class="govuk-check-your-answers cya-questions-short cya-no-change">
                <div>
                    <dt class="cya-question">Home address</dt>
                    <dd class="cya-answer">
                        {{ data['homeAddress'] }}
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">Email address</dt>
                    <dd class="cya-answer">{{ data['emailAddress'] }}</dd>
                </div>

                <div>
                    <dt class="cya-question">Mobile number</dt>
                    <dd class="cya-answer">{{ data['mobileNumber'] }}</dd>
                </div>

            </dl>

            <br>

            {{ govukDetails({
                summaryText: 'What to do if your details are incorrect',
                text: 'You can make changes on the NHS Electronic Staff Record (ESR). If you cannot access ESR, you will need to tell your employer.'
            }) }}

            <hr>
            {% include "includes/back-to-home-link.html" %}

        </div>
    </div>

</main>

{% endblock %}
