<p>Your estimate is not a guarantee and based on current law and pay information from your employer.</p>
<p><b>It includes:</b></p>
<ul class="list list-bullet">
    <li>an assumed pay increase of 2% each year</li>
    <li>an assumed inflation figure of 0.5% each year</li>
</ul>

{# <details>
    <summary><span class="summary">What the calculation does not include</span></summary>
    <div class="panel panel-border-narrow">
    <ul class="list list-bullet">
        <li>Early Retirement Reduction Buy Out (ERRBO)</li>
        <li>Additional Pension</li>
        <li>‘Pensions on Divorce’ Debit or Credit that applies to you</li>
        <li>Scheme Pays debits</li>
        <li>benefits you’ve transferred in from a Club CARE scheme</li>
    </ul>
    </div>
</details> #}
