<p>Your estimate is not a guarantee and based on current law and pay information from your employer. Your estimate does not include tax. Tax rules are applied when you apply to get your pension.</p>
<p><b>It includes:</b></p>
<ul class="list list-bullet">
    <li>an assumed pay increase of 2% each year</li>
    <li>an assumed inflation figure of 0.5% each year</li>
</ul>

<h2 class="heading-medium">Your estimate calculation does not include</h2>

<ul class="list list-bullet">
    <li>Any reduction to your pension due to a ‘Pensions on Divorce’ or ‘Scheme Pays’ debit, or Early Retirement Reduction Buy Out (ERRBO)</li>
    <li>Any additions to your pension due to Additional Pension you may have bought, or benefits you have transferred from another public sector pension CARE scheme</li>
</ul>
{# <details>
    <summary><span class="summary">What the calculation does not include</span></summary>
    <div class="panel panel-border-narrow">
    <ul class="list list-bullet">
        <li>Early Retirement Reduction Buy Out (ERRBO)</li>
        <li>Additional Pension</li>
        <li>‘Pensions on Divorce’ Debit or Credit that applies to you</li>
        <li>Scheme Pays debits</li>
        <li>benefits you’ve transferred in from a Club CARE scheme</li>
    </ul>
    </div>
</details> #}
