<p>Your estimate is not a guarantee.</p>
<p>It’s based on current law and pay information from your employer which allows us to make assumptions, taking into account any additions and reductions, to give an approximate estimate.</p>

<h2 class="heading-small">It includes:</h2>
<ul class="list list-bullet">
    <li>an assumed pay increase of 2% each year</li>
    <li>an assumed inflation figure of 0.5% each year</li>
</ul>

<h2 class="heading-small">It does not include:</h2>

<ul class="list list-bullet">
    <li>any reduction to your pension due to a ‘Pensions on Divorce’ or ‘Scheme Pays’ debit, or Early Retirement Reduction Buy Out (ERRBO)</li>
    <li>any additions to your pension due to Additional Pension you may have bought, or benefits you have transferred from another public sector pension CARE scheme</li>
    <li>tax. Tax rules are applied when you apply to get your pension</li>
</ul>