<aside class="govuk-related-items" role="complementary">
    {# <hr /> #}
    <h2 class="heading-medium" id="subsection-title">{{ data['schemeReference'] }} Pension contributions</h2>
    <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="list list-bullet font-xsmall">


            {% if data['schemeReference'] === '1995' %}
            <li><a href="/statement?schemeYear=1994/1995">1994/1995</a></li>
            <li><a href="/statement?schemeYear=1993/1994">1993/1994</a></li>
            <li><a href="/statement?schemeYear=1992/1993">1992/1993</a></li>
            {% elif data['schemeReference'] === '2008' %}
            <li><a href="/statement?schemeYear=2007/2008">2007/2008</a></li>
            <li><a href="/statement?schemeYear=2006/2007">2006/2007</a></li>
            <li><a href="/statement?schemeYear=2005/2006">2005/2006</a></li>
            {% else %}
            <li><a href="/statement?schemeYear=2018/2019">2018/2019</a></li>
            <li><a href="/statement?schemeYear=2017/2018">2017/2018</a></li>
            <li><a href="/statement?schemeYear=2016/2017">2016/2017</a></li>
            <li><a href="/statement?schemeYear=2015/2016">2015/2016</a></li>
            {% endif %}
        </ul>
    </nav>
    {# <hr /> #}
</aside>