{% extends "layout_bsa.html" %}

{% block page_title %}
Processing - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Your pension record is being retrieved</h1>
            </header>
            <figure>
                <figcaption><p>This may take several minutes, please bear with us.</p></figcaption>
                <p><img src="/public/v6/images/ajax-loader.gif" alt="Spinner" /></p>  
            </figure>
           
            <noscript>
                 <p>If nothing happens for 5 minutes you can <a href="/interstitial/processing2">try again</a>.</p>
            </noscript>
        </div>
    </div>
</main>

<script>
window.setTimeout(function(){
    window.location.href = "/interstitial/processing2";
}, 3000);
</script>

{% endblock %}

{% block footer %}
{% endblock %}