{% extends "layout_bsa.html" %}

{% block page_title %}
Your 1995 pension contributions - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">1995 Pension contribution statement</h1>
            </div>
            
            <p>Last updated: <strong class="bold">31st March 2019</strong></p>
            {% include "statement/includes/2015-table.html" %}

            <br>
            {% include "includes/back-to-home-link.html" %}

        </div>

    </div>

</main>

{% endblock %}
