{% extends "layout_bsa.html" %}

{% block page_title %}
Your {{ data['schemeReference'] }} pension contribution statement - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-full">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">{{ data['schemeReference'] }} Pension contribution statement</h1>
            </div>
                        
            <table class="responsive-table">
                <caption class="heading-medium">Your contributions (as of the 31st March 2019)</caption>
                <thead>
                    
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col"><span class="visually-hidden">Employer</span></th>
                        <th class="numeric" scope="col">Yours</th>
                        <th class="numeric" scope="col">Employers</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data['schemeReference'] === '2008' %}
                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">Year</span>
                            2007/2008
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">Employer</span>
                            Black Country Partnership NHS Foundation Trust
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your contributions</span>
                            <strong class="bold">£1346.28</strong>
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your employers contributions</span>
                            <strong class="bold">£1613.40</strong>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">Year</span>
                            2018/2019
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">Employer</span>
                            Black Country Partnership NHS Foundation Trust
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your contributions</span>
                            <strong class="bold">£1346.28</strong>
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your employers contributions</span>
                            <strong class="bold">£1613.40</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">Year</span>
                            2017/2018
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">Employer</span>
                            Black Country Partnership NHS Foundation Trust
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your contributions</span>
                            <strong class="bold">£1300.84</strong>
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your employers contributions</span>
                            <strong class="bold">£1588.22</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">Year</span>
                            2016/2017
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">Employer</span>
                            Black Country Partnership NHS Foundation Trust
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your contributions</span>
                            <strong class="bold">£1256.19</strong>
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your employers contributions</span>
                            <strong class="bold">£1542.55</strong>
                        </td>
                    </tr>
                    <tr class="bsa-multi-row">
                        <td>
                            <span class="table-heading" aria-hidden="true">Year</span>
                            2015/2016
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">Employer</span>
                            Black Country Partnership NHS Foundation Trust
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your contributions</span>
                            <strong class="bold">£1000.00</strong>
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your employers contributions</span>
                            <strong class="bold">£1112.88</strong>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="visually-hidden">December</span></td>
                        <td>
                            <span class="table-heading" aria-hidden="true">Employer</span>
                            Birmingham and Solihull Mental Health NHS Foundation Trust
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your contributions</span>
                            <strong class="bold">£213.43</strong>
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your employers contributions</span>
                            <strong class="bold">£244.45</strong>
                        </td>
                    </tr>
                    {% endif %}

                    {% if data['schemeReference'] === '1995' %}
                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">Year</span>
                            1995/1996
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">Employer</span>
                            Black Country Partnership NHS Foundation Trust
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your contributions</span>
                            <strong class="bold">£1346.28</strong>
                        </td>
                        <td class="numeric">
                            <span class="table-heading" aria-hidden="true">Your employers contributions</span>
                            <strong class="bold">£1613.40</strong>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>

            <div class="table-foot">
                <span class="table-total">Total</span>
                <span class="total-value">£14,177.92</span>
            </div>
            
            <br>
            
            {% include "includes/back-to-home-link.html" %}

        </div>

        {# <div class="column-one-third">
        	{% include "statement/includes/subnav.html" %}
        </div> #}

    </div>

</main>

{% endblock %}
