{% extends "layout_bsa.html" %}

{% block page_title %}
Your {{ data['schemeReference'] }} pension contribution statement - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">{{ data['schemeReference'] }} Pension contribution statement</h1>
            </div>
            
            <p>Last updated: <strong class="bold">31st March 2019</strong></p>
            
            <table>
                <thead>
                    <tr>
                        <th colspan="2"><h2 class="heading-medium govuk-margin-bottom-0 govuk-margin-top-0">{{ data['schemeYear'] }}</h2></th>
                        <th colspan="2" class="numeric">Contributions</th>
                    <tr>
                        <th scope="col">Month</th>
                        <th scope="col"><span class="visually-hidden">Employer</span></th>
                        <th class="numeric" scope="col">Yours</th>
                        <th class="numeric" scope="col">Employers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>March</td>
                        <td class="font-xsmall">Black Country Partnership NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£112.19</strong></td>
                        <td class="numeric"><strong class="bold">£134.45</strong></td>
                    </tr>
                    <tr>
                        <td>February</td>
                        <td class="font-xsmall">Black Country Partnership NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£112.19</strong></td>
                        <td class="numeric"><strong class="bold">£134.45</strong></td>
                    </tr>
                    <tr>
                        <td>January</td>
                        <td class="font-xsmall">Black Country Partnership NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£112.19</strong></td>
                        <td class="numeric"><strong class="bold">£134.45</strong></td>
                    </tr>
                    <tr class="bsa-multi-row">
                        <td>December</td>
                        <td class="font-xsmall">Black Country Partnership NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£42.22</strong></td>
                        <td class="numeric"><strong class="bold">£71.34</strong></td>
                    </tr>
                    <tr class="bsa-multi-row">
                        <td><span class="visually-hidden">December</span></td>
                        <td class="font-xsmall">Birmingham and Solihull Mental Health NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£34.87</strong></td>
                        <td class="numeric"><strong class="bold">£58.45</strong></td>
                    </tr>
                    <tr>
                        <td><span class="visually-hidden">December</span></td>
                        <td class="font-xsmall">Birmingham and Solihull Mental Health NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£34.87</strong></td>
                        <td class="numeric"><strong class="bold">£58.45</strong></td>
                    </tr>
                    <tr>
                        <td>November</td>
                        <td class="font-xsmall">Birmingham and Solihull Mental Health NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£98.66</strong></td>
                        <td class="numeric"><strong class="bold">£116.98</strong></td>
                    </tr>
                    <tr>
                        <td>October</td>
                        <td class="font-xsmall">Birmingham and Solihull Mental Health NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£98.66</strong></td>
                        <td class="numeric"><strong class="bold">£116.98</strong></td>
                    </tr>
                    <tr>
                        <td>September</td>
                        <td class="font-xsmall">Birmingham and Solihull Mental Health NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£98.66</strong></td>
                        <td class="numeric"><strong class="bold">£116.98</strong></td>
                    </tr>
                    <tr>
                        <td>August</td>
                        <td class="font-xsmall">Birmingham and Solihull Mental Health NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£98.66</strong></td>
                        <td class="numeric"><strong class="bold">£116.98</strong></td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td class="font-xsmall">Birmingham and Solihull Mental Health NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£98.66</strong></td>
                        <td class="numeric"><strong class="bold">£116.98</strong></td>
                    </tr>
                    <tr>
                        <td>June</td>
                        <td class="font-xsmall">Birmingham and Solihull Mental Health NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£98.66</strong></td>
                        <td class="numeric"><strong class="bold">£116.98</strong></td>
                    </tr>
                    <tr>
                        <td>May</td>
                        <td class="font-xsmall">Birmingham and Solihull Mental Health NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£98.66</strong></td>
                        <td class="numeric"><strong class="bold">£116.98</strong></td>
                    </tr>
                    <tr>
                        <td>April</td>
                        <td class="font-xsmall">Birmingham and Solihull Mental Health NHS Foundation Trust</td>
                        <td class="numeric"><strong class="bold">£98.66</strong></td>
                        <td class="numeric"><strong class="bold">£116.98</strong></td>
                    </tr>
                </tbody>
            </table>
            
            <br>
            
            {% include "includes/back-to-home-link.html" %}

        </div>

        <div class="column-one-third">
        	{% include "statement/includes/subnav.html" %}
        </div>

    </div>

</main>

{% endblock %}
