<p>If you believe our records of your Scheme membership are incorrect for any reason, please read
this guidance before making enquiries because there are a number of common reasons why the
records of your scheme membership can differ from your actual employment history in the NHS.</p>

<p>Please check this list carefully before making any further enquiry:</p>

<ul class="list list-bullet">
    <li>Age eligibility – minimum age requirement<br>

Contributions to the NHS Pension Scheme can only start from age 18 prior
to 06.04.1988. From 06.04.1988 the minimum pension age is 16.
</li>
</ul>
Did you work in the
NHS in Scotland or
Northern Ireland?
We administer the NHS Pension Scheme for England and Wales only.
Scotland and Northern Ireland have separate health service pension
schemes.
Did you contribute
to another
occupational
pension scheme?
Southern Ireland, the Isle of Man and the Channel Islands have their own
separate occupational schemes as do other large establishments such as
Teachers, University Superannuation Scheme (USS), Civil Service and
many others. You should contact the relevant scheme in order to make
enquiries.
To obtain the address of another occupational pension scheme you can
contact:
Register of Pension Schemes
PO Box 1NN
Newcastle upon Tyne, NE99 1NN.
Did you work for an
Agency?
If a contract of employment was through an Agency and not directly through
the NHS, for example a Nursing Agency, you would not be eligible for
membership of the NHS Pension Scheme.
Did you work for the
Local Government
(County Council)?
If employed by the Local Government (County Council) from 1 April 1974,
or the option to remain in the Local Government pension scheme was
exercised when the local authorities moved to the NHS on this date, then
any pension benefits will be held in that scheme.
Were you required
to serve a two year
waiting period?
Manual workers prior to 06.04.1988 would have been subject to serving a
two year waiting period before being allowed to contribute to the NHS
Pension Scheme. If served in full, a credit of one year’s contributing
membership would be given.
Did you ‘opt out’ of
paying NHS pension
contributions?
From 6 April 1988 the facility to opt out of membership of the NHS Pension
Scheme was introduced. Where applicable the member completes an
SD502 opt out form to leave the Scheme and a copy of the form would be
retained. Historically, membership would only recommence if a person
asked the employer to opt them back into paying pension contributions (see
under auto enrolment for changes to opting out after March 2013).
Did you claim a
refund of NHS
pension
contributions?
Refunded membership no longer reckons for pension benefits.
Prior to 1 October1972 a refund would be the only option if you left the
Scheme, regardless of length of membership, unless the annual salary had
reached £5,000, then membership would be deferred.
Membership record factsheet 20190509-(V5) 6
From 1 October1972 a refund would have been the only option available if
you left with less than five years qualifying membership and did not return
within 12 months of leaving.
From 6 April 1988 a refund or a transfer out would have been the only
option available if you left with less than two years qualifying membership
and did not return within 12 months of leaving.
In the 2015 Scheme a refund will become payable as your only option if you
have less than two years qualifying membership and lose your salary link
by exceeding a break of over five years.
Did you request a
transfer out?
If a transfer of pension benefits has been paid to another pension provider,
then no entitlement will remain within the NHS Pension Scheme. You may
need to make enquiries with any pension scheme or policy you joined after
leaving NHS employment/the NHS Pension Scheme.
Historic part time
workers
A person who was a non-medical grade who was working part time prior to
1 April 1973 could not join the NHS Pension Scheme.
If a non-medical grade had worked at least half time but had not elected to
join the pension scheme between 1 April 1973 and 6 April 1988, the
employment would not be pensionable. If someone had opted not to join,
their election would have remained in place until they asked to join the
Scheme.
Non-medical staff working less than half the standard whole time hours for
their grade prior to 1 April 1991 could not join the NHS Pension Scheme.
Have you worked in
excess of whole
time hours?
Part time hours worked in any employment can only be pensionable up to a
maximum of the whole time hours for the grade. Any additional hours you
may have worked in excess of whole time cannot be pensionable and will
not therefore be recorded in your membership history. Where two part time
employments run concurrently and their combined hours exceed whole
time, scheme membership in one employment will be restricted so that
whole time membership is not exceeded at any time. Different rules apply
to self-employed Practitioners.
Did you have an
employment that
overlapped with
another whole time
employment?
Any employments that overlap with a pensionable whole time employment
cannot be pensionable at all. Where an overlap occurs, the commencement
or leaving date of the ‘secondary' employment will be adjusted to prevent
an overlap of membership with the whole time post. Different rules apply to
self-employed Practitioners.
Scaled part time
membership
All part time calendar length officer membership in the 1995 or 2008
Section is scaled to its whole time equivalent for the purpose of calculating
benefits. This is known as reckonable membership.
Membership record factsheet 20190509-(V5) 7
For example, a nurse grade with a whole time contract of 37.5 hours per
week but working exactly half time for two calendar years would attain one
year of reckonable (whole time equivalent) membership.
Because some part time officers may work ‘as and when’ required or carry
out additional hours on top of their agreed contract (e.g. to cover for
absences) we use the total annual hours or sessions actually worked, as
notified by the employer, to calculate scaled length of membership.
Where you
employed by a GP
Practice?
The NHS Pension Scheme has only been available to GP Practice staff
with effect from 1 September 1997.
Freelance GP
locums
Only eligible for scheme membership if they are directly employed and paid
by an NHS Employing Authority.
Freelance GP Locums who are eligible for membership must opt to join the
NHS Pension Scheme.
Disallowed days
Disallowed days will be deducted from your membership if any unpaid sick,
strike action or absent without leave periods occur during your employment.
These periods will not show on a membership statement if they occur
during part time work, because they will be reflected in a reduced annual
hours total for the year instead.
Weekends
Employment for pension purposes is based on a seven day week.
However, if an employment contract ends on a Friday and a new job
commences on the following Monday, the weekend will not count for
pension purposes because the member was not in pensionable NHS
employment.
Maternity leave
Where an employee enters a ‘no pay’ period due to maternity leave, the
employer will terminate the membership record and reopen it on return to
work unless the employee has arranged to maintain the contributions
during the no pay period.
2008 Section
Optants
If you chose to move from the 1995 Section to the 2008 Section and were
aged 60 or over on 1 October 2009 you would not receive a ‘day for day’
credit in the 2008 Section for membership up to 31 March 2008.
The actual amount of membership transferred is converted depending on
your age in years and complete months at 1 October 2009 and is worked
out using factors provided by the Scheme actuary. Full details would have
been included in your Choice statement and more information is available
in the 2008 Optant factsheet.
Membership record factsheet 20190509-(V5) 8
2015 Scheme
Membership of the 2015 Scheme (from 31 March 2015) will not be included
in your membership statement. Instead please refer to your Annual Benefit
Statement.
Employer name
The NHS has reorganised several times over the years meaning that
employers may have been closed or merged with other employers. If
relevant, a membership statement will record the name of the employing
authority that is currently responsible and may therefore differ from the
employer you had worked for. Membership will remain unaffected in these
cases.
If after checking this information you still feel that you should hold a record of membership counting
towards future pension benefit entitlement, or your membership record is incorrect in some way, you
should refer to the following factsheets