<h2 class="heading-medium">If your information looks wrong</h2>
<p>There are many reasons this information may seem incorrect. It is not a history of your employment in the NHS.</p>
<p>There are different routes of enquiry you'll need to take depending on your type of query.

See the <a href="https://www.nhsbsa.nhs.uk/member-hub/membership-nhs-pension-scheme">membership enquiry section on our website</a>
to help you understand what to do next.</p>

{% set alternateHtml %}
<p>You can call our helpline:</p>
<ul class="list list-bullet">
    <li>Member helpline: <strong class="bold">0300 3301 346</strong></li>
    <li>Calling from overseas: <strong class="bold">0044 191 279 0571</strong></li>
</ul>
{% endset %}

{{ govukDetails({
    summaryText: 'If you need to contact us',
    html: alternateHtml
}) }}
