{% if data['1995'] === "w" or data['1995'] === "x" %}

    {{ bsaCard({
        title: '1995 pension',
        status: 'You are no longer contributing to this pension.',
        data: [
            {
                monthly: data.estimateResult1995.estimate.monthly,
                age: data.estimateResult1995.age
            }
        ],
        actions: [
            {
                label: 'View your 1995 estimate',
                href: 'estimate?schemeReference=1995'
            },
            {
                label: 'View your 1995 contribution statement',
                href: 'statement?schemeReference=1995&schemeYear=1994/1995'
            }
        ],
        inRetirementWindow: true
    }) }}

{% elif data['1995'] === "pn"  %}

    {{ bsaCard({
        title: '1995 pension',
        status: 'You are currently receiving this pension.'
    }) }}

{% elif data['1995'] === "u1"  %}

    {{ bsaCard({
        title: '1995 pension',
        status: 'You have left this pension and are owed a refund.',
        actions: [
            {
                label: 'Apply for a refund',
                href: '#'
            },
            {
                label: 'View your 1995 contribution statement',
                href: 'statement?schemeReference=1995&schemeYear=1994/1995'
            }
        ]
    }) }}

{% elif data['1995'] === "u2"  %}

    {{ bsaCard({
        title: '1995 pension',
        status: 'You have left this pension and are owed a refund.',
        actions: [
            {
                label: 'Apply for a refund',
                href: '#'
            },
            {
                label: 'View your 1995 contribution statement',
                href: 'statement?schemeReference=1995&schemeYear=1994/1995'
            }
        ]
    }) }}

{% elif data['1995'] === "n"  %}

    {{ bsaCard({
        title: '1995 pension',
        status: 'You have left this pension scheme and no money is owed to you.'
    }) }}

{% elif data['1995'] === "a"  %}

    {{ bsaCard({
        title: '1995 pension',
        status: 'You are currently contributing to this pension.',
        data: [
            {
                monthly: data.estimateResult1995.estimate.monthly,
                age: data.estimateResult1995.age
            }
        ],
        actions: [
            {
                label: 'View your 1995 estimate',
                href: 'estimate?schemeReference=1995'
            },
            {
                label: 'View your 1995 contribution statement',
                href: 'statement?schemeReference=1995&schemeYear=1994/1995'
            }
        ]
    }) }}

{% else %}

    {{ bsaCard({
        title: '1995 pension',
        data: [
            {
                monthly: data.estimateResult1995.estimate.monthly,
                age: data.estimateResult1995.age
            }
        ],
        actions: [
            {
                label: 'View your 1995 estimate',
                href: 'estimate/1995?schemeReference=1995'
            },
            {
                label: 'View your 1995 contribution statement',
                href: 'statement?schemeReference=1995&schemeYear=1994/1995'
            }
        ]
    }) }}

{% endif %}