{% if data['2008'] === "w" or data['2008'] === "x" %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You are no longer contributing to this pension.',
        data: [
            {
                monthly: data.estimateResult2008.estimate.monthly,
                age: data.estimateResult2008.age
            }
        ],
        actions: [
            {
                label: 'View your 2008 estimate',
                href: 'estimate?schemeReference=2008'
            },
            {
                label: 'View your 2008 contribution statement',
                href: 'statement?schemeReference=2008&schemeYear=2007/2008'
            }
        ]
    }) }}

{% elif data['2008'] === "pn"  %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You are currently receiving this pension.'
    }) }}

{% elif data['2008'] === "u1"  %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You have left this pension and are owed a refund.',
        actions: [
            {
                label: 'Apply for a refund',
                href: '#'
            },
            {
                label: 'View your 2008 contribution statement',
                href: 'statement?schemeReference=2008&schemeYear=2007/2008'
            }
        ]
    }) }}

{% elif data['2008'] === "u2"  %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You have left this pension and are owed a refund.',
        actions: [
            {
                label: 'Apply for a refund',
                href: '#'
            },
            {
                label: 'View your 2008 contribution statement',
                href: 'statement?schemeReference=2008&schemeYear=2007/2008'
            }
        ]
    }) }}

{% elif data['2008'] === "n"  %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You have left this pension and no money is owed to you.'
    }) }}


{% elif data['2008'] === "a"  %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You are currently contributing to this pension.',
        data: [
            {
                monthly: data.estimateResult2008.estimate.monthly,
                age: data.estimateResult2008.age
            }
        ],
        actions: [
            {
                label: 'View your 2008 estimate',
                href: 'estimate?schemeReference=2008'
            },
            {
                label: 'View your 2008 contribution statement',
                href: 'statement?schemeReference=2008&schemeYear=2007/2008'
            },
            {
                label: 'Check your 2008 membership record',
                href: 'membership/year-style?schemeReference=2008'
            }
        ]
    }) }}

{% elif ( data['current'] === "1" ) %}

<div class="bsa-card">
    <div class="bsa-card__content">
        <h3 class="heading-small bsa-card__heading govuk-margin-top-0">Your 2008 pension</h3>
        <div class="data govuk-margin-bottom-0">
            <span class="data-item bold-xsmall"><span>Currently worth</span></span>
            <span class="data-item bold-large">£876 <span class="bold-xsmall">a year</span></span>
            
        </div>
    </div>

    <div class="bsa-card__actions">
        <ul class="bsa-card__actions-list">
            <li><a href="estimate?schemeReference=2008&age=preMPA">View details of this pension</a></li>
            <li><a href="statement?schemeReference=2008&schemeYear=1994/1995">View your 2008 contribution statement</a></li>
            <li><a href="membership/summary-list-style?schemeReference=2008">Check your 2008 membership record</a></li>
        </ul>
    </div>

</div>

{% else %}

    {{ bsaCard({
        title: '2008 pension',
        data: [
            {
                monthly: data.estimateResult2008.estimate.monthly,
                age: data.estimateResult2008.age
            }
        ],
        actions: [
            {
                label: 'View your 2008 estimate',
                href: 'estimate/2008?schemeReference=2008'
            },
            {
                label: 'View your 2008 contribution statement',
                href: 'statement?schemeReference=2008&schemeYear=2007/2008'
            },
            {
                label: 'Check your 2008 membership record',
                href: 'membership/year-style?schemeReference=2008'
            }
        ]
    }) }}

{% endif %}