{% if data['2008'] === "w" or data['2008'] === "x" %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You are no longer contributing to this pension.',
        data: [
            {
                monthly: data.estimateResult2008.estimate.monthly,
                age: data.estimateResult2008.age
            }
        ],
        actions: [
            {
                label: 'View your 2008 estimate',
                href: 'estimate?schemeReference=2008'
            },
            {
                label: 'View your 2008 contribution statement',
                href: 'statement?schemeReference=2008&schemeYear=2007/2008'
            }
        ]
    }) }}

{% elif data['2008'] === "pn"  %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You are currently receiving this pension.'
    }) }}

{% elif data['2008'] === "u1"  %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You have left this pension and are owed a refund.',
        actions: [
            {
                label: 'Apply for a refund',
                href: '#'
            },
            {
                label: 'View your 2008 contribution statement',
                href: 'statement?schemeReference=2008&schemeYear=2007/2008'
            }
        ]
    }) }}

{% elif data['2008'] === "u2"  %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You have left this pension and are owed a refund.',
        actions: [
            {
                label: 'Apply for a refund',
                href: '#'
            },
            {
                label: 'View your 2008 contribution statement',
                href: 'statement?schemeReference=2008&schemeYear=2007/2008'
            }
        ]
    }) }}

{% elif data['2008'] === "n"  %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You have left this pension and no money is owed to you.'
    }) }}


{% elif data['2008'] === "a"  %}

    {{ bsaCard({
        title: '2008 pension',
        status: 'You are currently contributing to this pension.',
        data: [
            {
                monthly: data.estimateResult2008.estimate.monthly,
                age: data.estimateResult2008.age
            }
        ],
        actions: [
            {
                label: 'View your 2008 estimate',
                href: 'estimate?schemeReference=2008'
            },
            {
                label: 'View your 2008 contribution statement',
                href: 'statement?schemeReference=2008&schemeYear=2007/2008'
            },
            {
                label: 'Check your 2008 membership record',
                href: 'membership/year-style?schemeReference=2008'
            }
        ]
    }) }}

{% else %}

    {{ bsaCard({
        title: '2008 pension',
        data: [
            {
                monthly: data.estimateResult2008.estimate.monthly,
                age: data.estimateResult2008.age
            }
        ],
        actions: [
            {
                label: 'View your 2008 estimate',
                href: 'estimate/2008?schemeReference=2008'
            },
            {
                label: 'View your 2008 contribution statement',
                href: 'statement?schemeReference=2008&schemeYear=2007/2008'
            },
            {
                label: 'Check your 2008 membership record',
                href: 'membership/year-style?schemeReference=2008'
            }
        ]
    }) }}

{% endif %}