{% if data['2015'] === "w" or data['2015'] === "x" %}

    {{ bsaCard({
        title: '2015 pension scheme',
        status: 'You are no longer contributing to this pension.',
        data: [
            {
                monthly: data.estimateResult2015.estimate.monthly,
                age: data.estimateResult2015.age
            }
        ],
        actions: [
            {
                label: 'View your 2015 estimate',
                href: 'estimate?schemeReference=2015'
            }
        ]
    }) }}

{% elif data['2015'] === "pn"  %}

    {{ bsaCard({
        title: '2015 pension scheme',
        status: 'You are currently receiving this pension.'
    }) }}

{% elif data['2015'] === "u1"  %}

    {{ bsaCard({
        title: '2015 pension scheme',
        status: 'You have left this pension and are owed a refund.',
        actions: [
            {
                label: 'Apply for a refund',
                href: '/refund'
            }
        ]
    }) }}

{% elif data['2015'] === "u2"  %}

    {{ bsaCard({
        title: '2015 pension scheme',
        subTitle: 'September 2018 to October 2018',
        status: 'You have left this pension and are owed a refund.',
        actions: [
            {
                label: 'Apply for a refund',
                href: '/refund/rejoin'
            }
        ]
    }) }}

{% elif data['2015'] === "n"  %}

    {{ bsaCard({
        title: '2015 pension scheme',
        status: 'You have left this pension scheme and no money is owed to you.'
    }) }}

{% elif data['2015'] === "a"  %}

    {{ bsaCard({
        title: '2015 pension scheme',
        status: 'You are currently contributing to this pension.',
        data: [
            {
                monthly: data.estimateResult2015.estimate.monthly,
                age: data.estimateResult2015.age
            }
        ],
        actions: [
            {
                label: 'View your 2015 estimate',
                href: 'estimate?schemeReference=2015'
            }
        ]
    }) }}

{% elif ( data['estimate'] === "1" ) %}


    {{ bsaCard({
        title: '2015 pension',
        data: [
            {
                monthly: data.estimateResult2015.estimate.monthly,
                age: data.estimateResult2015.age
            }
        ],
        actions: [
            {
                label: 'View your 2015 estimate',
                href: 'estimate/2015?schemeReference=2015'
            }
        ]
    }) }}

{% else %}

<div class="bsa-card">
    <div class="bsa-card__content">
        <h3 class="heading-small bsa-card__heading govuk-margin-top-0">Your 2015 pension</h3> 
        <div class="data govuk-margin-bottom-0">
        <span class="data-item bold-xsmall"><span>Currently worth</span></span>
            <span class="data-item bold-large">£2,196 <span class="bold-small">a year</span></span>
            
        </div>
        <hr class="break break--small">
        <p class="font-xsmall govuk-margin-bottom-0">Calculated on <strong class="bold">15&nbsp;March&nbsp;2019</strong></p>
    </div>

    <div class="bsa-card__actions">
        <ul class="bsa-card__actions-list">
            <li><a href="estimate?schemeReference=2015">View details of this pension</a></li>
            {# <li><a href="membership/summary-list-style?schemeReference=2015">Check your 2015 membership record</a></li> #}
        </ul>
    </div>

</div>

{% endif %}