{% extends "layout_bsa.html" %}

{% block page_title %}
Your 1995 pension estimate - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">1995 pension estimate</h1>
            </div>

            {% if data['show'] === "trs"  %}

            <div class="done-panel">
                <p class="govuk-margin-bottom-0">You could get this pension on <strong class="bold">1st December 2041</strong> when you will be&nbsp;<strong class="bold">60</strong>, your estimate is available on your</p>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">Total Reward Statement</p>
                <p>You could get a reduced pension on <strong class="bold">1st December 2031</strong> when you will be&nbsp;<strong class="bold">55</strong>.</p>
            </div>

            {% else %}

            <div class="done-panel">
                <p class="govuk-margin-bottom-0">You could get this pension on <strong class="bold">1st December 2041</strong> when you will be&nbsp;<strong class="bold">60</strong>, your estimate is</p>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£274 a month</p>
                <p class="heading-medium govuk-margin-top-0">£3,293 a year</p>
                <p>You could get a reduced pension on <strong class="bold">1st December 2031</strong> when you will be&nbsp;<strong class="bold">55</strong>.</p>
            </div>

            {% endif %}

            <div class="bsa-print-hide">
                {% include "includes/calculator-link.html" %}
                {% include "includes/caveat-link.html" %}
                {% include "includes/print-link.html" %}
                <hr>
                {% include "includes/back-to-home-link.html" %}
            </div>

            {% include "includes/caveat-print.html" %}

        </div>

    </div>

</main>

{% endblock %}
