{% extends "layout_bsa.html" %}

{% block page_title %}
Your 2008 pension estimate - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">2008 pension estimate</h1>
            </div>

            {% if data['show'] === "trs"  %}

            <div class="done-panel">
                <p class="govuk-margin-bottom-0">You could get this pension on <strong class="bold">1st December 2041</strong> when you will be&nbsp;<strong class="bold">65</strong>, your estimate is available on your</p>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">Total Reward Statement</p>
                <p>You could get a reduced pension on <strong class="bold">1st December 2031</strong> when you will be&nbsp;<strong class="bold">55</strong>.</p>
            </div>

            {% else %}

            <div class="done-panel">
                <p class="govuk-margin-bottom-0">You could get this pension on <strong class="bold">1st December 2041</strong> when you will be&nbsp;<strong class="bold">65</strong>, your estimate is</p>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£422.94 a month</p>
                <p class="heading-medium govuk-margin-top-0">£5,075.28 a year</p>
                <p>You could get a reduced pension on <strong class="bold">1st December 2031</strong> when you will be&nbsp;<strong class="bold">55</strong>.</p>
            </div>

            {% endif %}

            <p>To change this estimate of your 2008 pension, you can use the <a href="/public/images/xl/ARER Calculator V6 (08.2016) (1).xlsm">Standard Pension Calculator</a> or log in to your <a href="https://www.totalrewardstatements.nhs.uk/">Total Reward Statement</a>.</p>

            <p class="small-text">Last updated <strong class="bold">31st March 2018</strong>.</p>

            <table>
                <thead>
                    <tr>
                        <th scope="col">Contribution</th>
                        <th class="numeric" scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Your contributions</td>
                        <td class="numeric"><strong class="bold">£19,292</strong></td>
                    </tr>
                    <tr>
                        <td>Employer contributions</td>
                        <td class="numeric"><strong class="bold">£32,760</strong></td>
                    </tr>
                    <tr>
                        <td>Total contributions</td>
                        <td class="numeric"><strong class="bold">£52,052</strong></td>
                    </tr>
                </tbody>
            </table>

            <br>

            {% include "includes/back-link-unstyled.html" %}

        </div>

    </div>

</main>

{% endblock %}
