{% extends "layout_bsa.html" %}

{% block page_title %}
Your 2008 pension estimate - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Your 2008 pension estimate</h1>
            </div>

            <ul class="list">
                <li>You can claim this pension in full on <strong class="bold">01/12/2033</strong> at <strong class="bold">age 65</strong></li>
                <li>You can claim a reduced pension from <strong class="bold">01/12/2023</strong> at <strong class="bold">age 55</strong></li>
            </ul>
            <p class="heading-large">£
                <span class="medium-text">Availabile on your Total Rewards Statement</span>
            </p>

            <p>To get an estimate of your pension for the 2008 Section, you can use the <a href="#">Standard Pension Calculator</a> or log onto your <a href="#">Total Reward Statement</a>.</p>

            <table>
                <thead>
                    <tr>
                        <th scope="col">Last updated: 31/01/19</th>
                        <th class="numeric" scope="col"><span class="visually-hidden">Amount</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Your contributions</td>
                        <td class="numeric"><strong class="bold">£19,292</strong></td>
                    </tr>
                    <tr>
                        <td>Employer contributions</td>
                        <td class="numeric"><strong class="bold">£32,760</strong></td>
                    </tr>
                    <tr>
                        <td>Contribution total</td>
                        <td class="numeric"><strong class="bold">£52,052</strong></td>
                    </tr>
                </tbody>
            </table>

            <br>

            {% include "includes/back-link-unstyled.html" %}

        </div>

    </div>

</main>

{% endblock %}
