{% extends "layout_bsa.html" %}

{% block page_title %}
Your 2015 pension estimate - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">2015 pension estimate</h1>
            </div>

            <div class="done-panel">
                <p class="govuk-margin-bottom-0">You could get this pension on <strong class="bold">1st December 2041</strong> when you will be&nbsp;<strong class="bold">65</strong>, your estimate is</p>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£2484.21 a month</p>
                <p class="heading-medium govuk-margin-top-0">£29,810.47 a year</p>
            </div>

            <p>You could get a reduced pension on <strong class="bold">1st December 2031</strong> when you will be&nbsp;<strong class="bold">55</strong>.</p>

            <p>You can <a href="/calculator">change this estimate</a> based on retiring early or getting a lump&nbsp;sum.</p>

            {# <table>
                <tbody>
                    <tr>
                        <td>Your contributions</td>
                        <td class="numeric"><strong class="bold">£9,600</strong></td>
                    </tr>
                    <tr>
                        <td>Employer contributions</td>
                        <td class="numeric"><strong class="bold">£38,400</strong></td>
                    </tr>
                    <tr>
                        <td>Contribution total</td>
                        <td class="numeric"><strong class="bold">£48,000</strong></td>
                    </tr>
                </tbody>
            </table> #}

            <br>

            <p class="bold">Last updated: 31/01/19</p>

            <br>

            <form action="#">
                <button class="button">Get your 2015 pension</button>
            </form>

            {# {% include "includes/back-link-unstyled.html" %} #}

        </div>

    </div>

</main>

{% endblock %}
