{% extends "layout_bsa.html" %}

{# IF 2015 #}
{% set getNRD = '1 March 2040' %}
{% set getERA = '55' %}
{% set getNRA = '65' %}
{% set getMonthlyForNRA = '1,986' %}
{% set getYearlyForNRA = '23,829' %}
{% set getMonthlyForERA = '982' %}
{% set getYearlyForERA = '11,784' %}

{# examples #}
{% set getEx1Age = getERA %}
{% set getEx1Monthly = getMonthlyForERA %}
{% set getEx1Yearly = getYearlyForERA %}

{% set getEx2Age = getNRA - 5 %}
{% set getEx2Monthly = '1,648' %}
{% set getEx2Yearly = '19,779' %}

{% set getEx3Age = '66' %}
{% set getEx3Monthly = '2,268' %}
{% set getEx3Yearly = '27,213' %}

{# IF 2008 can overwrite here #}
{% if data['schemeReference'] === '2008' %}
    {% set getNRD = '1 April 2040' %}
    {% set getMonthlyForNRA = '422' %}
    {% set getYearlyForNRA = '5,075' %}

{# IF 1995 #}
{% elif data['schemeReference'] === '1995' %}
    {% set getNRD = '1 May 2041' %}
    {% set getERA = '55' %}
    {% set getNRA = '60' %}
    {% set getMonthlyForNRA = '2,104' %}
    {% set getYearlyForNRA = '25,218' %}
    {% set getMonthlyForERA = '982' %}
    {% set getYearlyForERA = '11,784' %}
{% endif %}

{% block page_title %}
Your {{ data['schemeReference'] }} pension estimate - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large"> {{ data['schemeReference'] }} pension <strong class="bold">estimate</strong></h1>
            </header>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-desktop-two-thirds">

            <div class="interrupt-panel">
                <p class="govuk-margin-bottom-0">
                    If you retire at your normal retirement age of <strong class="bold">{{ getNRA }}</strong> on 
                    <strong class="bold nobr">{{ getNRD }}</strong>, your pension could be worth:
                </p>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£{{ getMonthlyForNRA }} a month</p>
                <p class="heading-medium govuk-margin-bottom-0 govuk-margin-top-0">£{{ getYearlyForNRA }} a year</p>

                <h2 class="heading-small">Other retirement ages</h2>
                {% include "calculator/includes/retirement-examples/ages1.html" %}
                {% include "calculator/includes/pay-info-date.html" %}
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <br>

            <div class="bsa-print-hide">
                {% include "includes/calculator-link.html" %}
                {% include "calculator/includes/next.html" %}
                {% include "includes/print-link.html" %}
                <hr>
                {% include "includes/back-to-home-link.html" %}
            </div>

            {% include "includes/caveat-print.html" %}
        </div>

    </div>

</main>

{% endblock %}
