{% extends "layout_bsa.html" %}

{% set getDate = '1 March 2040' %}
{% set getAge = '67' %}
{% set getMonthly = '2,231' %}
{% set getYearly = '26,773' %}
{% set reducedDate = '1 March 2030' %}
{% set reducedAge = '55' %}
{% set getReducedMonthly = '1,287' %}
{% set getReducedYearly = '18,957' %}

{% if data['schemeReference'] === '2008' %}
    {% set getDate = '1 December 2041' %}
    {% set getMonthly = '422' %}
    {% set getYearly = '5,075' %}
    {% set getReducedMonthly = '1,287' %}
    {% set getReducedYearly = '18,957' %}
    {% set reducedDate = '1 December 2031' %}
{% elif data['schemeReference'] === '1995' %}
    {% set getDate = '1 December 2041' %}
    {% set getAge = '60' %}
    {% set getMonthly = '2,104' %}
    {% set getYearly = '25,218' %}
    {% set reducedDate = '1 December 2036' %}
    {% set reducedAge = '55' %}
    {% set getReducedMonthly = '1,287' %}
    {% set getReducedYearly = '18,957' %}
{% endif %}

{% block page_title %}
Your {{ data['schemeReference'] }} pension estimate - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-desktop-two-thirds">

            <div class="interrupt-panel">
                <h1 class="heading-small govuk-margin-top-0">{{ data['schemeReference'] }} pension estimate</h1>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£{{ getMonthly }} a month</p>
                <p class="heading-medium govuk-margin-bottom-0 govuk-margin-top-0">£{{ getYearly }} a year</p>

                <br>
                <dl class="govuk-check-your-answers cya-questions-short cya-no-change">

                    <div>
                        <dt class="cya-question">Your retirement age</dt>
                        <dd class="cya-answer">{{ getAge }} <span class="font-xsmall nobr">(normal retirement age)</span></dd>
                        <dd class="cya-change">
                            <a href="/calculator/when-retire">Change<span class="visually-hidden"> age</span></a>
                        </dd>
                    </div>
                    <div>
                        <dt class="cya-question">Your lump sum</dt>
                        <dd class="cya-answer">No lump sum</dd>
                        <dd class="cya-change">
                            <a href="/calculator/lump-amount">Change<span class="visually-hidden"> lump sum</span></a>
                        </dd>
                    </div>
           
                </dl>
                <br>
                {% include "calculator/includes/pay-info-date.html" %}
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="bsa-print-hide">
                {% include "includes/calculator-link.html" %}
                <hr>
                {% include "calculator/includes/next.html" %}
                {% include "includes/print-link.html" %}
                <hr>
                {% include "includes/back-to-home-link.html" %}
            </div>

            {% include "includes/caveat-print.html" %}
        </div>

    </div>

</main>

{% endblock %}
