{% extends "layout_bsa.html" %}

{% block page_title %}
Your pension details - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}

    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}
    
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{ schemeReference }}
            {% set schemeReference = data['schemeReference'] %}

            {% if (schemeReference == '2015') %}
            {% include "pension-details/includes/2015.html" %}
            <hr>
            {% endif %}

            {% if (schemeReference == '2008') %}
            {% include "pension-details/includes/2008.html" %}
            <hr>
            {% endif %}

            {% if (schemeReference == '1995') %}
            {% include "pension-details/includes/1995.html" %}
            <hr>
            {% endif %}

            {% include "includes/back-link-unstyled.html" %}

        </div>
    </div>

</main>

{% endblock %}
