{% extends "layout_bsa.html" %}

{% block page_title %}
Your pension details - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Your pension details</h1>
            </div>

            {{ scheme }}
            {% set scheme = data['scheme'] %}

            {% if (scheme == null) or ('2015' in scheme) or ('0' in scheme) %}
            {% include "pension-details/includes/2015.html" %}
            <hr class="visual-break">
            {% endif %}

            {% if (scheme == null) or ('2008' in scheme) or ('0' in scheme) %}
            {% include "pension-details/includes/2008.html" %}
            <hr class="visual-break">
            {% endif %}

            {% if (scheme == null) or ('1995' in scheme) or ('0' in scheme) %}
            {% include "pension-details/includes/1995.html" %}
            <hr class="visual-break">
            {% endif %}

            {% include "includes/back-link-unstyled.html" %}

        </div>
{# 
        <div class="column-one-third">
            <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium">Share this forecast</h2>
                <p>You can share this forecast in an email. No personal information will be shared.</p>
                <p><a href="email" class="button">Share this forecast</a></p>
            </aside>
        </div>
         #}
    </div>

</main>

{% endblock %}
