{% extends "layout_bsa.html" %}

{% block page_title %}
Scheme and Sections - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-xlarge">Scheme and Sections</h1>
            </div>

            <section>
                <h2 class="heading-large">2015 Scheme</h2>
                <ul class="list">
                    <li>You can claim this pension in full on <strong class="bold">01/12/2033</strong> at <strong class="bold">age 65</strong></li>
                    <li>You can claim a reduced pension from <strong class="bold">01/12/2028</strong> at <strong class="bold">age 60</strong></li>
                </ul>

                <p class="heading-large">£11,280.00
                    <span class="small-text u-block">Estimated annual payment if retiring at 65.</span>
                </p>
                <br>

                <p>To get an alternative estimate of your pension for the 2015 Scheme, you can use the <a href="/calculator">2015 Scheme NHS Pension Calculator</a>.</p>

                <table>
                    <thead>
                        <tr>
                            <th scope="col">Last updated: 31/01/18</th>
                            <th class="numeric" scope="col"><span class="visually-hidden">Amount</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Your contributions</td>
                            <td class="numeric"><strong class="bold">£9,600</strong></td>
                        </tr>
                        <tr>
                            <td>Employer contributions</td>
                            <td class="numeric"><strong class="bold">£38,400</strong></td>
                        </tr>
                        <tr>
                            <td>Scheme total</td>
                            <td class="numeric"><strong class="bold">£48,000</strong></td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <hr>

            <section>
                <h2 class="heading-large">2008 Section</h2>
                <ul class="list">
                    <li>You can claim this pension in full on <strong class="bold">01/12/2033</strong> at <strong class="bold">age 65</strong></li>
                    <li>You can claim a reduced pension from <strong class="bold">01/12/2028</strong> at <strong class="bold">age 60</strong></li>
                </ul>
                <p class="heading-large">£
                    <span class="medium-text">Availabile on your Total Rewards Statement</span>
                </p>

                <p>To get an estimate of your pension for the 2008 Section, you can use the <a href="#">Standard Pension Calculator</a> or log onto your <a href="#">Total Reward Statement</a>.</p>

                <table>
                    <thead>
                        <tr>
                            <th scope="col">Last updated: 31/01/18</th>
                            <th class="numeric" scope="col"><span class="visually-hidden">Amount</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Your contributions</td>
                            <td class="numeric"><strong class="bold">£19,292</strong></td>
                        </tr>
                        <tr>
                            <td>Employer contributions</td>
                            <td class="numeric"><strong class="bold">£32,760</strong></td>
                        </tr>
                        <tr>
                            <td>Scheme total</td>
                            <td class="numeric"><strong class="bold">£52,052</strong></td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <hr>

            <section>
                <h2 class="heading-large">1995 Section</h2>
                <ul class="list">
                    <li>You can claim this pension in full on <strong class="bold">01/12/2033</strong> at <strong class="bold">age 60</strong></li>
                    <li>You can claim a reduced pension from <strong class="bold">01/12/2028</strong> at <strong class="bold">age 55</strong></li>
                </ul>
                <p class="heading-large">£
                    <span class="medium-text">Availabile on your Total Rewards Statement</span>
                </p>

                <p>To get an estimate of your pension for the 2008 Section, you can use the <a href="#">Standard Pension Calculator</a> or log onto your <a href="#">Total Reward Statement</a>.</p>

                <table>
                    <thead>
                        <tr>
                            <th scope="col">Last updated: 31/01/18</th>
                            <th class="numeric" scope="col"><span class="visually-hidden">Amount</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Your contributions</td>
                            <td class="numeric"><strong class="bold">£23,196</strong></td>
                        </tr>
                        <tr>
                            <td>Employer contributions</td>
                            <td class="numeric"><strong class="bold">£58,500</strong></td>
                        </tr>
                        <tr>
                            <td>Scheme total</td>
                            <td class="numeric"><strong class="bold">£81,969</strong></td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <br><br>
            {% include "includes/back-link-unstyled.html" %}

        </div>
    </div>

</main>

{% endblock %}
