{% macro govukCurrencyInput(options) %}
  {% set classes = options.classes or "" %}
  {% set id = options.id or "" %}
  {% set value = options.value or "" %}

  <div class="govuk-currency-input">
    <div class="govuk-currency-input__inner">
      <span class="govuk-currency-input__inner__unit govuk-body">£</span>
      <input class="{{ classes }} govuk-currency-input__inner__input govuk-input" aria-label="Enter amount in pounds" name="{{ id }}" data-non-numeric="" type="text" id="{{ id }}" pattern="[0-9]\d*(\.\d+)?" value="{{ options.value }}">
    </div>
  </div>
{% endmacro %}

{% macro bsaTransactionItem(options) %}
  {% set classes = options.classes or "" %}
  {% set id = options.name or "" %}
  {% set name = options.name or "" %}
  {% set dateFrom = options.dateFrom or "" %}
  {% set dateTo = options.dateTo or "" %}
  {% set address = options.address or "" %}
  {% set contract = options.contract or "" %}
  {% set mho = options.mho or "" %}
  {% set eaCode = options.eaCode or "" %}
  {% set pensionableService = options.pensionableService or "" %}

<div class="hhhh" style="display: grid; grid-template-columns: 2fr 1fr; gap: 2em;">
  <ul>
    <li>
      <span class="visually-hidden">Employing authority code:</span>
      <span class="bold-xsmall">EA:</span><span class="font-xsmall">{{ eaCode }}</span>
    </li>
    <li>
      <span class="visually-hidden">Employer:</span>
      <h2 class="heading-small govuk-margin-top-0 govuk-margin-bottom-0">{{ name }}</h2>
    </li>
    <li>
      <span class="visually-hidden">Employer address:</span>
      <span class="font-xsmall">{{ address }}</span>
    </li>
  </ul>

  <ul>
    <li style="float: right;">
      <span class="visually-hidden">Contract type:</span>
      <span class="app-c-tag">{{ contract }}</span>
    </li>
    <li class="data govuk-margin-bottom-0">
      <span class="data-item bold-xsmall">Pensionable service</span>
      <span class="data-item bold-medium">{{ pensionableService }}</span>
    </li>
    <li class="font-xsmall">Pension term started: <strong class="bold">{{ dateFrom }}</strong></li>
    <li class="font-xsmall">Pension term ended: <strong class="bold">{{ dateTo }}</strong></li>
    <li class="font-xsmall">Mental health officer: {{ mho }}</li>
  </ul>
</div>
{% endmacro %}



{% macro bsaAccountDetailsBar(options) %}
<section class="bsa-account-details-bar {{ options.class or "" }} bsa-print-hide" role="contentinfo" aria-label="Account details">
    <dl class="bsa-account-details-bar__contents">
        <div class="bsa-account-details-bar__header">
            <dt class="visually-hidden">Name:</dt>
            <dd class="bsa-account-details-bar__name heading-{{ options.headingClass or "small" }}">{{ data['fullName'] }}</dd>
            <dt class="visually-hidden">{{ code }}:</dt>
            <dd class="bsa-account-details-bar__id bold">{{ data['ninoSafe'] }}</dd>
        </div>
    </dl>
    <div class="bsa-account-details-bar__action">
        <a href="/logged-out" class="log-out-link">Sign out</a>
    </div>
</section>
{% endmacro %}

{% macro bsaContributionsTableRow(options) %}
  {% set rowClass = options.rowClass or "" %}
  {% set year = options.year or "Year" %}
  {% set hideDate = options.hideDate or "" %}
  {% set hideDateClass = "bsa-duplicate-label" if options.hideDate %}
  {% set employer = options.employer or "Employer" %}
  {% set yourContributions = options.yourContributions or "Your contributions" %}
  {% set employerContributions = options.employerContributions or "Employer contributions" %}

<tr class="{{ rowClass }}">
    <td>
        <span class="table-heading" aria-hidden="true">Year</span>
        <span class="{{ hideDateClass }}">{{ year }}</span>
    </td>
    <td>
    
        <span class="table-heading" aria-hidden="true">Employer</span>
        {% if employer == 'ns' %}
          <span class="app-c-tag app-c-tag--warning">Not submitted</span>
        {% else %}
        {{ employer }}
        {% endif %}
    </td>
    <td class="numeric">
        <span class="table-heading" aria-hidden="true">Your contributions</span>
        <strong class="bold">£{{ yourContributions }}</strong>
    </td>
    <td class="numeric">
        <span class="table-heading" aria-hidden="true">Your employers contributions</span>
        <strong class="bold">£{{ employerContributions }}</strong>
    </td>
</tr>

{% endmacro %}

{% macro govukDetails(params) %}
<details {%- if params.id %} id="{{params.id}}"{% endif %} class="govuk-details {%- if params.classes %} {{ params.classes }}{% endif %}" data-module="govuk-details" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %} {{- " open" if params.open }}>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ params.summaryHtml | safe if params.summaryHtml else params.summaryText }}
    </span>
  </summary>
  <div class="panel panel-border-narrow">
    <div class="govuk-details__text">
      {{ params.html | safe if params.html else params.text }}
    </div>
  </div>
</details>
{% endmacro %}


{% macro bsaCard(params) %}
<div class="bsa-card">
    <div class="bsa-card__content">
        <h3 class="heading-small bsa-card__heading govuk-margin-top-0">{{ params.title }}</h3>
        {% if params.status %}
          <p class="bold-xsmall">
          {{ params.statusHtml | safe if params.statusHtml else params.status }}</p>
        {% endif %}

        {% if params.status and params.data %}
        <hr class="break">
        {% endif %}

        {% if params.data %}
          {% for item in params.data %}
          <div class="data govuk-margin-bottom-0">
              <span class="data-item bold-large">£{{ item.monthly }} <span class="bold-xsmall">a month (age {{ item.age }})</span></span>
              <span class="data-item bold-xsmall"><span class="app-c-tag">{{ item.tag or "Estimate" }}</span></span>
          </div>
          {% endfor %}
        {% endif %}
    </div>
    {% if params.actions %}
    <div class="bsa-card__actions">
        <ul class="bsa-card__actions-list">
          {% for item in params.actions %}
          <li><a href="{{ item.href }}">{{ item.label }}</a></li>
          {% endfor %}
          {% if params.inRetirementWindow %}
          <li><a href="#">Claim your pension</a></li>
          {% endif %}
        </ul>
    </div>
    {% endif %}
</div>
{% endmacro %}