{% extends "layout_bsa.html" %}

{# {% set getNDate = '1 March 2040' %}
{% set getNAge = '67' %}

{% set getEDate = '1 March 2028' %}
{% set getEAge = '55' %}

{% set getLDate = '1 March 2048' %}
{% set getLAge = '75' %} #}

{% block page_title %}
Is your NHS pension the only pension you have? - Annual allowance - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_alpha.html" %}

    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">About your pensions</h1>
            </header>

            <div class="notice">
                <i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
                <strong class="bold-small">We need you to check and confirm these details</strong>
            </div>

            <h2 class="heading-medium"><span class="visually-hidden">Check</span> Your NHS pensions:</h2>

            <p>You have membership in the 2015 and 1995/2008 schemes.</p>

            {# {{ govukDetails({
                summaryText: 'What are the NHS pension schemes?',
                The NHS pension scheme has changed over time
                text: "In 2015 the NHS pension scheme changed. You were given a choice about transferring your pension from the 1995/2008
                scheme into the 2015 scheme."
            }) }} #}

            <hr>

            <form method="post" class="form" action="other-pensions">
                <fieldset class="form-group">
                    <legend class="heading-medium">Is your NHS pension the only pension you have?</legend>

                    <div class="multiple-choice">
                        <input id="other-pension-yes" type="radio" name="other-pension" value="Yes" {{ checked('other-pension2', 'yes') }}>
                        <label for="other-pension-yes">Yes, it is the only pension I have</label>
                    </div>

                    <div class="multiple-choice">
                        <input id="other-pension-no" type="radio" name="other-pension" value="No" {{ checked('other-pension2', 'no') }}>
                        <label for="other-pension-no">No, I have other pensions</label>
                    </div>

                    <div class="multiple-choice">
                        <input id="other-pension-idk" type="radio" name="other-pension" value="I don't know" {{ checked('other-pension2', 'idk') }}>
                        <label for="other-pension-idk">I don't know if I have any other pensions</label>
                    </div>

                </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>
            </form>
      
        </div>
    </div>

</main>

{% endblock %}
