{% extends "layout_bsa.html" %}

{% block page_title %}
Your annual allowance - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}

    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}
    
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            {% include "annual-allowance/includes/heading.html" %}
            {% include "annual-allowance/includes/what.html" %}

            <hr>

            <ol id="pension-savings">

                <li>
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--wide",
                        rows: [
                            {
                                key: {
                                    text: "Year"
                                },
                                value: {
                                    text: "6 April 2019 to 5 April 2020"
                                }
                            },
                            {
                                key: {
                                    text: "Allowance"
                                },
                                value: {
                                    text: "£40,000"
                                }
                            },
                            {
                                key: {
                                    text: "Savings"
                                },
                                value: {
                                    text: "Saving are not available"
                                }
                            }
                        ]
                    }) }}
                </li>

                <li>
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--wide",
                        rows: [
                            {
                                key: {
                                    text: "Year"
                                },
                                value: {
                                    text: "6 April 2018 to 5 April 2019"
                                }
                            },
                            {
                                key: {
                                    text: "Allowance"
                                },
                                value: {
                                    text: "£40,000"
                                }
                            },
                            {
                                key: {
                                    text: "Savings"
                                },
                                value: {
                                    text: "£59,850"
                                }
                            }
                        ]
                    }) }}
                </li>

                <li>
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--wide",
                        rows: [
                             {
                                key: {
                                    text: "Year"
                                },
                                value: {
                                    text: "6 April 2017 to 5 April 2018"
                                }
                            },                           
                            {
                                key: {
                                    text: "Allowance"
                                },
                                value: {
                                    text: "£40,000"
                                }
                            },
                            {
                                key: {
                                    text: "Savings"
                                },
                                value: {
                                    text: "£51,230"
                                }
                            }
                        ]
                    }) }}
                </li>

                <li>
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--wide",
                        rows: [
                            {
                                key: {
                                    text: "Year"
                                },
                                value: {
                                    text: "6 April 2016 to 5 April 2017"
                                }
                            },
                            {
                                key: {
                                    text: "Allowance"
                                },
                                value: {
                                    text: "£40,000"
                                }
                            },
                            {
                                key: {
                                    text: "Savings"
                                },
                                value: {
                                    text: "£38,000"
                                }
                            }
                        ]
                    }) }}
                </li>

                <li>
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--wide",
                        rows: [
                            {
                                key: {
                                    text: "Year"
                                },
                                value: {
                                    text: "1 April 2015 to 5 April 2016"
                                }
                            },
                            {
                                key: {
                                    text: "Allowance"
                                },
                                value: {
                                    text: "£0"
                                }
                            },
                            {
                                key: {
                                    text: "Savings"
                                },
                                value: {
                                    text: "£23,275"
                                }
                            }
                        ]
                    }) }}
                </li>

                <li>

                    {{ govukSummaryList({
                        classes: "govuk-summary-list--wide",
                        rows: [
                            {
                                key: {
                                    text: "Year"
                                },
                                value: {
                                    text: "9 July 2015 to 5 April 2016"
                                }
                            },
                            {
                                key: {
                                    text: "Allowance"
                                },
                                value: {
                                    text: "£0"
                                }
                            },
                            {
                                key: {
                                    text: "Savings"
                                },
                                value: {
                                    text: "£12,295"
                                }
                            }
                        ]
                    }) }}
                </li>

                <li>
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--wide",
                        rows: [
                            {
                                key: {
                                    text: "Year"
                                },
                                value: {
                                    text: "1 April 2015 to 8 July 2015"
                                }
                            },
                            {
                                key: {
                                    text: "Allowance"
                                },
                                value: {
                                    text: "£80,000"
                                }
                            },
                            {
                                key: {
                                    text: "Savings"
                                },
                                value: {
                                    text: "£9,432"
                                }
                            }
                        ]
                    }) }}

                </li>

                <li>
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--wide",
                        rows: [
                            {
                                key: {
                                    text: "Year"
                                },
                                value: {
                                    text: "1 April 2014 to 31 March 2015"
                                }
                            },
                            {
                                key: {
                                    text: "Allowance"
                                },
                                value: {
                                    text: "£40,000"
                                }
                            },
                            {
                                key: {
                                    text: "Savings"
                                },
                                value: {
                                    text: "£43,663"
                                }
                            }
                        ]
                    }) }}
                </li>

            </ol>

            {% include "annual-allowance/includes/go-above.html" %}

            {% include "annual-allowance/includes/how-calculated.html" %}

            {% include "annual-allowance/includes/next.html" %}

            {% include "includes/contact.html" %}

            <hr>

            <br>
            {% include "includes/back-to-home-link.html" %}

        </div>

    </div>

</main>

{% endblock %}
