{% extends "layout_bsa.html" %}

{# {% set getNDate = '1 March 2040' %}
{% set getNAge = '67' %}

{% set getEDate = '1 March 2028' %}
{% set getEAge = '55' %}

{% set getLDate = '1 March 2048' %}
{% set getLAge = '75' %} #}

{% block page_title %}
Do you have any other pensions? - Annual allowance - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}

    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Check your annual allowance pension savings</h1>
            </header>

            <p class="form-hint">Your annual allowance is the most you can save in your pension pots in a tax year (6 April to 5 April) before you have to pay tax.</p>

            <p>You have membership in the NHS 2015 and 1995/2008 pension schemes.</p>

            <form method="post" class="form" action="other-pensions">
                <fieldset class="form-group">
                    <legend class="heading-medium">Do you have any other public or private pensions?</legend>

                    <div class="multiple-choice">
                        <input id="other-pension-yes" type="radio" name="other-pension" value="yes" {{ checked('other-pension', 'yes') }}>
                        <label for="other-pension-yes">Yes</label>
                    </div>

                    <div class="multiple-choice">
                        <input id="other-pension-no" type="radio" name="other-pension" value="no" {{ checked('other-pension', 'no') }}>
                        <label for="other-pension-no">No</label>
                    </div>
   
                </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>
            </form>
      
        </div>
    </div>

</main>

{% endblock %}
