{% extends "layout_bsa.html" %}

{% block page_title %}
Your annual allowance - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_alpha.html" %}

    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}
    
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            {% include "annual-allowance/includes/heading.html" %}
            {% include "annual-allowance/includes/what.html" %}

            <p>Your pension savings information is updated by your employer each year, <a href="help/key-dates">see a timeline of key dates and events</a>.</p>
            <br>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            
            {% set tableHeader1 %}Year{% endset %}
            {% set tableHeader2 %}Annual allowance{% endset %}
            {% set tableHeader3 %}1995/2008 scheme savings{% endset %}
            {% set tableHeader4 %}2015 scheme{% endset %}
            {% set tableHeader5 %}Total{% endset %}

            <table class="responsive-able">
                <caption class="visually-hidden">Other retirement examples</caption>
                <thead>
                    <tr>
                        <th scope="col">{{ tableHeader1 }}</th>
                        <th scope="col">Annual <br>allowance</th>
                        <th scope="col">1995/2008 <br>scheme savings</th>
                        <th scope="col">2015 <br>scheme savings</th>
                        <th scope="col">Total <br>savings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader1 }}</span>
                            6 April 2019 to 5 April 2020
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader2 }}</span>
                            £40,000
                        </td>
                        <td colspan="3">
                            <span class="table-heading" aria-hidden="true">{{ tableHeader3 }}</span>
                            Your savings for this year are not available yet
                        </td>
                        {# <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader4 }}</span>
                            £12,345
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader5 }}</span>
                            £13,579
                        </td> #}
                    </tr>

                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader1 }}</span>
                            6 April 2018 to 5 April 2019
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader2 }}</span>
                            £40,000
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader3 }}</span>
                            £59,850
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader4 }}</span>
                            £9,854
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader5 }}</span>
                            £69,704
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader1 }}</span>
                            6 April 2017 to 5 April 2018
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader2 }}</span>
                            £40,000
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader3 }}</span>
                            £1,312
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader4 }}</span>
                            £2,419
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader5 }}</span>
                            £3,731
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader1 }}</span>
                            6 April 2015 to 5 April 2016
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader2 }}</span>
                            £40,000
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader3 }}</span>
                            £38,000
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader4 }}</span>
                            £0
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader5 }}</span>
                            £38,000
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader1 }}</span>
                            1 April 2015 to 5 April 2016
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader2 }}</span>
                            £0
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader3 }}</span>
                            £23,275
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader4 }}</span>
                            £19,231
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader5 }}</span>
                            £42,506
                        </td>
                    </tr>
                    <tr>
                        <td class="has-multi">
                            <span class="table-heading" aria-hidden="true">{{ tableHeader1 }}</span>
                            1 April 2015 to 8 July 2015
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader2 }}</span>
                            £80,000
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader3 }}</span>
                            £9,432
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader4 }}</span>
                            £49,231
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader5 }}</span>
                            £58,663
                        </td>
                    </tr>
                    <tr>
                        <td class="has-multi">
                            <span class="table-heading" aria-hidden="true">{{ tableHeader1 }}</span>
                            9 July 2015 to 5 April 2016
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader2 }}</span>
                            £0
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader3 }}</span>
                            £12,295
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader4 }}</span>
                            £1,285
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader5 }}</span>
                            £13,580
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader1 }}</span>
                            1 April 2014 to 31 March 2015
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader2 }}</span>
                            £40,000
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader3 }}</span>
                            £43,663
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader4 }}</span>
                            Not applicable
                        </td>
                        <td>
                            <span class="table-heading" aria-hidden="true">{{ tableHeader5 }}</span>
                            £43,663
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p class="font-xsmall">The annual allowance values shown are known as the standard annual allowance.<br>
            This information was last updated on <strong class="bold">{{ data['lastUpdatedDate'] }}</strong>.</p>
            <hr>

        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            {% include "annual-allowance/includes/how-calculated.html" %}

            {% include "annual-allowance/includes/go-above.html" %}

            {# <hr> #}

            {# {% include "annual-allowance/includes/next.html" %} #}

            {% include "includes/contact.html" %}

            <hr>

            <br>
            {% include "includes/back-to-home-link.html" %}

        </div>

    </div>

</main>

{% endblock %}
