{% extends "layout_bsa.html" %}

{% block page_title %}
Reduction factors - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <div class="interrupt-panel">
                <div class="heading-group">
                    <p>{{ serviceName }}</p>
                    <h1 class="heading-large">Impacts on your pension</h1>
                </div>
                <hr>

                <p>You may not realise it but there are employment benefits offered to you that can increase or reduce the amount of pension 
                you could get in retirement.</p>

                <h2 class="heading-small">Benefits that will increase your pension</h2>
                <ul class="list list-bullet">
                    <li>working beyond your "{{ data['npaLabel'] }}"</li>
                    <li>increasing your salary</li>
                </ul>

                <h2 class="heading-small">Benefits that could reduce your pension</h2>
                <ul class="list list-bullet">
                    <li>retiring before your "{{ data['npaLabel'] }}"</li>
                    <li>taking a lease car</li>
                    <li>getting a bike through the cycle to work scheme</li>
                    <li>working part time</li>
                    <li>childcare voucher scheme</li>
                </ul>
                
                <hr>
                <a href="no-data" class="button">Next</a>
            </div>

        </div>
    </div>
        
</main>

{% endblock %}
