.column-one-third-lg {
    padding: 0 15px;

    @include media(desktop) {
        float: left;
        width: 33.33%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
}
@include media(desktop) {
    .grid-row--flex {
        display: flex;
        flex-wrap: wrap;
    }
}