<div class="interrupt-panel">
    <h1 class="heading-large govuk-margin-top-0">Your 1995 pension</h1>
    <p class="govuk-margin-bottom-0">You can get this pension in full on the <strong class="bold nobr">1 December 2033</strong> at age <strong class="bold">60</strong></p>
    <p class="govuk-margin-bottom-0">You can get a reduced pension from <strong class="bold nobr">1 December 2028</strong> at age <strong class="bold">55</strong></p>
</div>
<div class="panel panel-border-wide">
    <p>To get an estimate of your 1995 pension, you can use the <a href="#">Standard Pension Calculator</a>.</p>
</div>
<p> A summary of this pension is available on <a href="#">Total Reward Statement</a>.</p>