<section>
    <h2 class="heading-large">1995 Pension</h2>
    <ul class="list">
        <li>You can claim this pension in full on <strong class="bold">01/12/2033</strong> at <strong class="bold">age 60</strong></li>
        <li>You can claim a reduced pension from <strong class="bold">01/12/2028</strong> at <strong class="bold">age 55</strong></li>
    </ul>
    <p class="heading-large">£
        <span class="medium-text">Availabile on your Total Rewards Statement</span>
    </p>

    <p>To get an estimate of your 1995 pension, you can use the <a href="#">Standard Pension Calculator</a> or log onto your <a href="#">Total Reward Statement</a>.</p>

</section>