<section>
    <h2 class="heading-large">2008 Pension</h2>
    <ul class="list">
        <li>You can claim this pension in full on <strong class="bold">01/12/2033</strong> at <strong class="bold">age 65</strong></li>
        <li>You can claim a reduced pension from <strong class="bold">01/12/2023</strong> at <strong class="bold">age 55</strong></li>
    </ul>
    <br>
    <p>To get an estimate of your 2008 pension, you can use the <a href="#">Standard Pension Calculator</a>. A summary of this pension is available on <a href="#">Total Reward Statement</a>.</p>

</section>