<div class=" interrupt-panel">
    <h1 class="govuk-margin-bottom-0">Your 2015 pension <strong class="bold">estimate</strong> is:</h1>
    <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£1,986 a month</p>
    <p class="heading-medium govuk-margin-bottom-0 govuk-margin-top-0">£23,829 a year</p>
    <p class="govuk-margin-bottom-0">You could get this on <strong class="bold nobr">1 March 2040</strong> at age <strong class="bold">65</strong></p>
    <p class="govuk-margin-bottom-0">You could get a reduced pension from <strong class="bold nobr">1 March 2040</strong> at age <strong class="bold">55</strong></p>
    <hr class="break">
    <p class="font-xsmall">Your estimate is calculated using pay information from <strong class="bold nobr">31 March 2018</strong></p>
</div>
{% include "includes/calculator-link.html" %}
{% include "includes/caveat-link.html" %}
{% include "includes/print-link.html" %}
{# 
<section>
    <h2 class="heading-large">2015 Pension</h2>
    <ul class="list">
        <li>You can claim this pension in full on <strong class="bold">01/12/2033</strong> at <strong class="bold">age 65</strong></li>
        <li>You can claim a reduced pension from <strong class="bold">01/12/2023</strong> at <strong class="bold">age 55</strong></li>
    </ul>

    <p class="heading-large" aria-hidden="true">£11,280.00 <span class="app-c-tag">Estimate</span>
        <span class="small-text u-block">Estimated annual payment if retiring at 65.</span>
    </p>
    <p class="visually-hidden">Estimated annual payment if retiring at 65 is £11,280.00</p>
    <br>
    {% include "includes/calculator-link.html" %}
    {% include "includes/caveat-link.html" %}
</section> #}