<section>
    <h2 class="heading-large">2015 Pension</h2>
    <ul class="list">
        <li>You can claim this pension in full on <strong class="bold">01/12/2033</strong> at <strong class="bold">age 65</strong></li>
        <li>You can claim a reduced pension from <strong class="bold">01/12/2023</strong> at <strong class="bold">age 55</strong></li>
    </ul>

    <p class="heading-large" aria-hidden="true">£11,280.00 <span class="app-c-tag">Estimate</span>
        <span class="small-text u-block">Estimated annual payment if retiring at 65.</span>
    </p>
    <p class="visually-hidden">Estimated annual payment if retiring at 65 is £11,280.00</p>
    <br>

    <p>To get an alternative estimate for your 2015 pension, you can use the <a href="/calculator">pension calculator</a>.</p>
</section>