√{% extends "layout_empty.html" %}

{% block page_title %}
  TRS - {{ serviceName }} prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">
			
			<div class="heading-group">
				<p>Prototypes</p>
				<h1 class="heading-xlarge">TRS</h1>
			</div>

			<p><a href="/trs/1/trs">Access TRS from TRS Website</a></p>
            <p><a href="2">Access TRS from NHS BSA Website</a></p>
			<hr>
			<p><a href="screens">View TRS screens list</a></p>
		</div>

	</div>

</main>

{% endblock %}


