<div class="bsa-card">
    <div class="bsa-card__content">
        <h3 class="heading-small bsa-card__heading govuk-margin-top-0">2015 Pension</h3>
        <div class="data govuk-margin-bottom-0">
            <span class="data-item bold-large">£1,986 <span class="bold-xsmall">a month (age 65)</span></span>
            <span class="data-item bold-xsmall"><span class="app-c-tag">Estimate</span></span>
        </div>
    </div>
    <div class="bsa-card__actions">
        <ul class="bsa-card__actions-list">
            <li><a href="pension-details/forecast?schemeReference=2015">View your 2015 estimate</a></li>
            <li><a href="calculator/what-estimate?schemeReference=2015">Change your 2015 estimate using the pension calculator</a></li>
            <li><a href="statement?schemeReference=2015&schemeYear=2018/2019">View your 2015 contribution statement</a></li>
            <li><a href="#">Get your 2015 pension</a></li>
        </ul>
    </div>
</div>