{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}
    
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="heading-group">
          <p>{{ serviceName }}</p>
          <h1 class="heading-large">There is a problem with your NHS pension record</h1>
        </div>

        <h2 class="heading-medium">We tried to find you with the following details</h2>
        <ul class="list list-bullet">
          <li>National Insurance number: <strong class="bold">QQ 12 34 56 C</strong></li>
          <li>First name: <strong class="bold">Sam</strong></li>
          <li>Last name: <strong class="bold">Jones</strong></li>
          <li>Date of Birth: <strong class="bold">02/04/1974</strong></li>
          <li>Address: <strong class="bold">10 Madeup Road, Madeupistown, Madeupville. MDE 0UP.</strong></li>
        </ul>
        
        <details>
          <summary><span class="summary">Why is there a problem?</span></summary>
          <div class="panel panel-border-narrow">
            <p>There are many reasons why there could be a problem with your NHS pension record such as:</p>
            <ul class="list list-bullet">
              <li>Your personal details have changed</li>
              <li>You have moved house</li>
              <li>You have got married</li>
              <li>Your employer has entered incorrect details</li>
            </ul>
          </div>
        </details>

        <hr/>

        <h2 class="heading-medium">What happens next?</h2>
        <p>If you are currently working in the NHS you may be able to update this information in your Electronic Staff Record (ESR). If you don't have access to ESR you need to contact your pensions officer or employer to get your information updated.</p>
        <p>Alternatively you can call the NHS pensions helpline.</p>
        <ul class="list list-bullet">
          <li>Member helpline: <strong class="bold">0300 330 1346</strong></li>
          <li>Member helpline: <strong class="bold">0191 279 0571</strong></li>
          <li>Calling from overseas: <strong class="bold">0044 191 279 0571</strong></li>
        </ul>

        <p>It can take up to 10 days to update your details.</p>
        <hr>
        <p><a href="#">Print this page</a></p>
      </div>

    </div>
</main>

{% endblock %}
