{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}
    
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="heading-group">
          <p>{{ serviceName }}</p>
          <h1 class="heading-large">There was a problem confirming your details</h1>
        </div>

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            Some of your details don't match your NHS Pension record, we need you to help us to fix it.
          </strong>
        </div>

        <h2 class="heading-medium">These are the details we tried to confirm</h2>
        <p>National Insurance number: <strong class="bold">JH 34 45 56 A</strong></p>
        <ul class="list list-bullet">
          <li>First name: <strong class="bold">Sam</strong></li>
          <li>Last name: <strong class="bold">Jones</strong></li>
          <li>Date of Birth: <strong class="bold">02/04/1974</strong></li>
          <li>Address: <strong class="bold">10 Madeup Road, Madeupistown, Madeupville. MDE 0UP.</strong></li>
        </ul>
        
        <hr/>

        <h2 class="heading-medium">What happens next?</h2>
        <p>If you are currently working in the NHS you can update this information in your Electronic Staff Record (ESR). If you don't have access to ESR you need to contact your pensions officer or employer to get your information updated.</p>
        <p>Alternatively you can call the NHS Pensions helpline.</p>
        <ul class="list list-bullet">
          <li>Member helpline: <strong class="bold">0300 330 1346</strong></li>
          <li>Member helpline: <strong class="bold">0191 279 0571</strong></li>
          <li>Calling from overseas: <strong class="bold">0044 191 279 0571</strong></li>
        </ul>

        <p>It can take up to 10 days to update your details.</p>
        <hr>
        <p><a href="#">Print this page</a></p>
      </div>

    </div>
</main>

{% endblock %}
