{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}
    
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="heading-group">
          <p>{{ serviceName }}</p>
          <h1 class="heading-large">There was a problem finding your NHS pension record</h1>
        </div>

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            Some of your details don't match your NHS pension record, we need you to check and confirm these details.
          </strong>
        </div>

        <h2 class="heading-medium">National Insurance number:</h2>
        <p>You entered: <strong class="bold">{{ data['nino']}}</strong></p>

        <img alt="" src="/public/images/idp-logos/post-office.png" style="float: right; width: 180px; text-align: center; padding: 0; margin: 0; display: block;">

        <h2 class="heading-medium">Personal details from Post Office:</h2>
        <ul class="list list-bullet">
          <li>First name: <strong class="bold">Sam</strong></li>
          <li>Last name: <strong class="bold">Jones</strong></li>
          <li>Date of Birth: <strong class="bold">02/04/1974</strong></li>
          <li>Address: <strong class="bold">10 Madeup Road, Madeupistown, Madeupville. MDE 0UP.</strong></li>
        </ul>

        <details>
          <summary><span class="summary">Why are my personal details here?</span></summary>
          <div class="panel panel-border-narrow">
            <p>When you first accessed your NHS pension you registered with an identity provider using GOV.UK Verify.
            The provider you chose was Post Office. We use your National Insurance number and your personal details from
            Post Office to find you in our pension records.</p>
          </div>
        </details>
        
        <hr/>

        <form action="confirm-details" method="post">
          <fieldset class="form-group">
            <legend class="heading-medium">Are these details correct?</legend>
            <div class="multiple-choice">
              <input id="matching-nino" name="matching_details[]" type="radio" value="nino">
              <label for="matching-nino">No, my National Insurance number is wrong</label>
            </div>
            <div class="multiple-choice">
              <input id="matching-details" name="matching_details[]" type="radio" value="details">
              <label for="matching-details">No, some of my personal details are wrong</label>
            </div>
            <div class="multiple-choice">
              <input id="matching-correct" name="matching_details[]" type="radio" value="correct">
              <label for="matching-correct">Yes, all my details look correct</label>
            </div>
          </fieldset>
          <div class="form-group">
            <input class="button" type="submit" value="Next">
          </div>
        </form>

      </div>
    </div>
</main>

{% endblock %}
