{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}
    
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="heading-group">
          <p>{{ serviceName }}</p>
          <h1 class="heading-large">You will need to update your GOV.UK Verify details</h1>
        </div>
        <p>ssssss</p>
        <p><a href="">Update your GOV.UK Verify details</a></p>

      </div>
    </div>
</main>

{% endblock %}
