{% extends "layout_bsa.html" %}

{% block page_title %}
Share forecast - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}
<form action="data-test" method="post">
<h1>Data test</h1>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Have you changed your name?
      </h1>
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
      This includes changing your last name or spelling your name differently.
    </span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>

  <button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
<br>
Choice: 

{{ data.normalNoLump2015.estimate.monthly }}
{{ data.normalMaxLump2015.estimate.monthly }}
{{ data.normalGivenLump2015.estimate.monthly }}
</div>

</form>

{% endblock %}