{% extends "layout_empty.html" %}

{% block page_title %}
  {{ serviceName }} prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">
			
			<div class="heading-group">
				<p>Prototypes</p>
				<h1 class="heading-xlarge">NHS Pension services</h1>
			</div>
			{# <h2 class="heading-medium">Changes made:</h2>
			<ul class="list list-bullet">
				<li>Add: AA key dates page</li>
				<li>Change: AA savings page reworked after stakeholder feedback</li>
			</ul> #}
			<hr>
			<p><a href="journey">View "My NHS Pension" as a service prototypes</a></p>
			<p><a href="/annual-allowance/start">View annual allowance as a service prototypes</a></p>
			<p><a href="/access">View access prototypes</a> – NHS Login, GOV.UK Verify, Alternatives</p>
			<p><a href="/trs">View TRS prototypes</a></p>
			<hr>
			<p><a href="/screens">View "My NHS Pension" screens list</a></p>
		</div>

	</div>

	<hr />

	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-medium">Previous prototype versions</h2>
			<p>As we learn more about the <strong class="bold">{{ serviceName }}</strong> service and our user needs we are iterating the prototypes. Previous versions will be kept here as a historical record. The latest version can be accessed above.</p>
			<p>Version numbers aren't neccessarily an indication of progress over time.</p>
			<details>
				<summary><span class="summary">All previous versions</span></summary>

				<div class="panel panel-border-narrow">

					<ul class="list list-bullet">
						<li><a href="https://nhs-pension-v16.herokuapp.com/">Version 16.0</a></li>
						<li><a href="https://nhs-pension-v15.herokuapp.com/">Version 15.0</a></li>
						<li><a href="https://nhs-pension-v14.herokuapp.com/">Version 14.0</a></li>
						<li><a href="https://nhs-pension-v13.herokuapp.com/">Version 13.0</a></li>
						<li><a href="https://nhs-pension-v12.herokuapp.com/">Version 12.0</a></li>
						<li><a href="https://nhs-pension-v11.herokuapp.com/">Version 11.0</a></li>
						<li><a href="https://nhs-pension-v10.herokuapp.com/">Version 10.0</a></li>
						<li><a href="https://nhs-pension-v9.herokuapp.com/">Version 9.0</a></li>
						<li><a href="https://nhs-pension-v8.herokuapp.com/">Version 8.0</a></li>
						<li><a href="https://nhs-pension-v7.herokuapp.com/">Version 7.0</a></li>
						<li><a href="https://nhs-pension-v6.herokuapp.com/">Version 6.0</a></li>
						<li><a href="https://nhs-pension-v5.herokuapp.com/">Version 5.0</a></li>
						<li><a href="https://nhs-pension-v4.herokuapp.com/">Version 4.0</a></li>
						<li><a href="https://nhs-pension-pb.herokuapp.com/">Version PB (Private beta)</a></li>
						<li><a href="https://nhs-pension-v3.herokuapp.com/">Version 3.0</a></li>
						<li><a href="https://nhs-pension-v2.herokuapp.com/">Version 2.0</a></li>
						<li><a href="https://nhs-pension-v1.herokuapp.com/">Version 1.0</a></li>
						<li><a href="https://valtech.invisionapp.com/share/8JPESRSUYBM#/341202285_Your_NHS_Pension_Dashboard_Latest_Desktop_1024x1024">Version 0.3 - InVision</a></li>
						<li><a href="https://mnhsp-prototype.herokuapp.com/mnhsp_V2/startpage">Version 0.2 - 5th Dec 2018 </a></li>
						<li><a href="https://mnhsp-prototype.herokuapp.com/mnhsp/startpage">Version 0.1 - 18th Oct 2018 </a></li>
					</ul>

				</div>

			</details>
			
		</div>
	</div>

</main>

{% endblock %}


