
$interrupt-panel-background-color: $nhs-blue;

.interrupt-panel {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background: $interrupt-panel-background-color;
    color: $white;
    border-radius: 4px;

    a,
    a:active,
    a:link,
    a:visited,
    .heading-group p,
    details summary {
        color: $white;
    }

    a.button,
    hr {
        background-color: $white;
    }

    a.button {
        color: $interrupt-panel-background-color;
        font-weight: bold;
    }

    .heading-group {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    table th,
    table td,
    .govuk-check-your-answers > * > * {
        border-bottom-color: $white;
    }
    table {
        margin-bottom: 20px;
    }
}