/*
As we are dealing with pensioners I want to align the content in the done
panel to the left by default. Centrally aligned text is difficult to read.

We are also adding more content than a standard done panel would have and dealing
with figures and numbers that users will be processing and mentally calulating
pension information with.
*/

$done-panel-foreground-color: $white;
$done-panel-background-color: $nhs-blue;

.done-panel {
    position: relative;
    background-color: $done-panel-background-color;
    color: $done-panel-foreground-color;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    a,
    .heading-secondary {
      color: $done-panel-foreground-color;
    }

    a:hover {
      text-decoration: none;
    }
    
    a:focus {
      text-decoration: none;
      color: $black;
      border-bottom: 2px solid $black;
    }

    > *:first-child {
      margin-top: 0;
    }
  
    > *:last-child {
      margin-bottom: 0;
    }

    &--center {
      text-align: center;
    }

    // color variants
    &--success {
      background-color: $grass-green;
    }
    &--warning {
      background-color: $brown;
    }
    &--danger {
      background-color: $mellow-red;
    }

    hr {
      background-color: $done-panel-foreground-color;
    }
}


.compare-panel {
    position: relative;
    background-color: $done-panel-background-color;
    color: $done-panel-foreground-color;
    margin-top: 30px;
    margin-bottom: 30px;

    a,
    a:link,
    a:visited,
    .heading-group p {
        color: $white;
    }
    a:active {
      color: $done-panel-background-color;
    }

    a.button,
    hr {
        background-color: $white;
    }

    a.button {
        color: $done-panel-background-color;
        font-weight: bold;
    }

    * > *:last-child {
      margin-bottom: 0;
    }

    @include media(desktop) {
      display: flex;
      flex-wrap: wrap;
    }
    // align-items: flex-end;

    &__header,
    &__body,
    &__footer {
      padding: 20px;
    }

    &__header {
      flex-grow: 1;
      flex-shrink: 1;
      // border-right: 1px solid $white;
    }

    &__footer {
      padding-top: 10px;
      padding-bottom: 10px; 
      width: 100%;
      // text-align: center;
      border-top: 1px solid $white;
      > * {
        margin: 0;
      }
    }

    &__body {
      flex-shrink: 0;
      border: 3px solid $done-panel-background-color;
      // background-color: $white;
      // color: $done-panel-background-color;
    }
}