<h2 class="heading-medium">Changes to your allowance</h2>
<p>You can increase your annual allowance by including any unused annual allowance from the previous three years. This is called carry forward.</p>

<p>If your income is over £200,000 your annual allowance in the same tax year will be reduced. This is called tapering.</p>
<p>The income threshold changed from £110,000 to £200,000 in March 2020.</p>

{# https://www.gov.uk/guidance/pension-schemes-work-out-your-tapered-annual-allowance #}

<h2 class="heading-medium">If you go above the allowance</h2>
<p>You’ll only pay tax if your total savings across all your pensions go above the annual allowance.</p>
<p>If you have a tax charge you can pay directly to HM Revenue &amp; Customs (HMRC) yourself or share the responsibility with us by using scheme pays.</p>
<p>You can use a calculator on GOV.UK to <a href="https://www.tax.service.gov.uk/pension-annual-allowance-calculator">work out 
if you have to pay tax on your pension savings</a>.</p>
<p>
You might want to consider
<a href="https://www.citizensadvice.org.uk/debt-and-money/getting-financial-advice/">getting financial help</a>.</p>