<h2 id="above-the-allowance" class="heading-medium">If you go above the allowance</h2>
<p>You can increase the annual allowance by including any unused annual allowance from the previous three years. This is sometimes
called "carry forward".</p>
<p>You’ll only pay tax if your total savings across all your pensions go above the annual allowance.</p>

<p>You can use a calculator on GOV.UK to <a href="https://www.tax.service.gov.uk/pension-annual-allowance-calculator">work out 
if you have to pay tax on your pension savings</a>.</p>