<h2 id="above-the-allowance" class="heading-medium">If you go above the allowance</h2>
<p>The pension savings amounts are your 2015 and 1995/2008 NHS schemes added together.</p>
<p>You will need to add these together with the pension savings amounts of any other pensions you have.</p>
<p>If your savings are higher than the allowance, you are likely to have a tax charge. You can use a calculator on GOV.UK to <a href="https://www.tax.service.gov.uk/pension-annual-allowance-calculator">work out 
how much you have gone above the allowance</a>.</p>