{% set calculatedHtml %}
<p>You can <a href="/public/v6/images/xl/aa-fp.csv">download a breakdown of your pension savings</a>.</p>

<p>The values shown are based on your pay information or membership details from your 
employer up to <strong class="bold nobr">{{ data['lastUpdatedDate'] }}</strong>.</p>
<div class="notice">
    <i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
    <strong class="bold-small">It is up to your employer to keep your pension information up to date.</strong>
</div>
{% endset %}

{{ govukDetails({
    summaryText: 'How your savings are calculated',
    html: calculatedHtml
}) }}