{# <h2 class="heading-medium">How is my statement calculated?</h2>

<p>The values shown are based on your pay information and <a href="/membership/summary-list-style?schemeReference=1995">membership record</a> 
from your employer up to <strong class="bold nobr">{{ data['lastUpdatedDate'] }}</strong>. 
It is up to your employer to keep your pension information up to date.</p> #}

{% set calculatedHtml %}
<p>The values shown are based on your pay information and <a href="/membership/summary-list-style?schemeReference=1995">membership record</a> 
from your employer up to <strong class="bold nobr">{{ data['lastUpdatedDate'] }}</strong>.</p>
<div class="notice">
    <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">Speak to your employer if something looks wrong, it is up to 
    them to keep your pension information up to date.</strong>
</div>

{% endset %}

{{ govukDetails({
    summaryText: 'How is my statement calculated?',
    html: calculatedHtml
}) }}