<p>Your annual allowance is the most you can save in your pension pots in a tax year (6 April to 5 April) before you have to pay tax.</p>
<p>You’ll only pay tax if you go <a href="#above-the-allowance">above the annual allowance</a>. This is £40,000 this tax year.</p>

{# {% set AAHtml %}
    <p>Your annual allowance is the most you can save in your pension pots in a tax year (6 April to 5 April) before you have to pay tax.</p>
    <p>You’ll only pay tax if you go above the annual allowance. This is £40,000 this tax year.</p>
    <p><a href="https://www.gov.uk/tax-on-your-private-pension/annual-allowance">Find out more about annual allowance on GOV.UK.</a></p>
{% endset %}

{{ govukDetails({
    summaryText: 'What is the annual allowance?',
    html: AAHtml
}) }} #}