A reminder of who is more likely to be affected by the Annual Allowance
The majority of members will not be affected by the Annual Allowance. However, any of the
following could impact on the amount of pension growth in the NHS Pension Scheme:
 a significant increase in membership in the 1995/2008 Scheme (e.g. change to full time,
doubled membership for Mental Health Officers);
 changing employment status from Officer to Practitioner;
 a transfer in from a defined benefit pension scheme under Club terms on or after 28
January 2015;
 a purchase of Added Years and/or Additional Pension, in particular a purchase by single
payment on or after 1 April 2011;
 a significant pay rise, possibly due to promotion (including taking on the role of Clinical
Director);
 the application of late retirement factors in the 2008 Section and 2015 Scheme;
 a Clinical Excellence Award;
 an ill health retirement where the cost of any outstanding Added Years or Additional
Pension is waived;
 a Tier 2 ill health pension; 
2015-16 Annual Allowance transitional rules (12.2015) V1
5
 contributions paid to another pension saving arrangements, including the NHS MPAVC
Scheme. 