<p>The calculation shows your basic 2015 Scheme benefits. Please see our website for guidance on how this is calculated.</p>
<p>If you are currently contributing to the Scheme, we have projected a pay increase of 2% each year, and assumed a revaluation factor of 2%.</p>
<p>If you are no longer contributing to the Scheme, we have assumed that Pensions Increase of 0.5% will be applied each year.</p>

<details>
  <summary><span class="summary">What's included in my estimate?</span></summary>
  <div class="panel panel-border-narrow">
    <p>The calculation does not take account of the following:</p>
    <ul class="list list-bullet">
        <li>Any Early Retirement Reduction Buy Out (ERRBO) you may have purchased</li>
        <li>Any Additional Pension you may have purchased</li>
        <li>Any ‘Pensions on Divorce’ Debit or Credit that applies to you</li>
        <li>Any Scheme Pays debits that you may have applied for</li>
        <li>Any benefits you may have transferred in from a Club CARE scheme</li>
    </ul>
  </div>
</details>
