<p>This estimate is not guaranteed and is based on current law, and pay information provided by your employer.</p>
<p>Our website has guidance on how your estimate is calculated.</p>
<p>If you are currently paying pension contributions we have assumed a pay increase of 2% each year.</p>
<p>We have used an assumed inflation figure of 0.5% each year.</p>

<details>
  <summary><span class="summary">What's included in my estimate?</span></summary>
  <div class="panel panel-border-narrow">
    <p>The calculation does not take account of the following:</p>
    <ul class="list list-bullet">
        <li>Any Early Retirement Reduction Buy Out (ERRBO) you may have purchased</li>
        <li>Any Additional Pension you may have purchased</li>
        <li>Any ‘Pensions on Divorce’ Debit or Credit that applies to you</li>
        <li>Any Scheme Pays debits that you may have applied for</li>
        <li>Any benefits you may have transferred in from a Club CARE scheme</li>
    </ul>
  </div>
</details>
