<h2 class="heading-small">How we work out your estimate</h2>
<p>This estimate is not guaranteed. It is based on current law and pay information provided by your employer.</p>
<p>Our website has guidance on how your estimate is calculated.</p>
<p>If you’re currently paying pension contributions we have assumed a pay increase of 2% each year.</p>
<p>We have estimated an inflation figure of 0.5% each year.</p>
<details>
  <summary><span class="summary">What the calculation does not include</span></summary>
  <div class="panel panel-border-narrow">
    <p>The calculation does not include:</p>
    <ul class="list list-bullet">
        <li>Early Retirement Reduction Buy Out (ERRBO)</li>
        <li>Additional Pension</li>
        <li>‘Pensions on Divorce’ Debit or Credit that applies to you</li>
        <li>Scheme Pays debits</li>
        <li>benefits you’ve transferred in from a Club CARE scheme</li>
    </ul>
  </div>
</details>
