<table class="responsive-table">
    <caption class="visually-hidden">Other retirement ages</caption>
    <thead>
        <tr>
            <th>Age</th>
            <th class="numeric">Monthly</th>
            <th class="numeric">Yearly</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col">
                <span class="table-heading" aria-hidden="true">Age</span>
                50 (earliest retirement age)
            </td>
            <td class="numeric" scope="col">
                <span class="table-heading" aria-hidden="true">Monthly</span>
                £1,160
            </td>
            <td class="numeric" scope="col">
                <span class="table-heading" aria-hidden="true">Yearly</span>
                £13,915
            </td>
        </tr>
        <tr>
            <td scope="col">
                <span class="table-heading" aria-hidden="true">Age</span>
                63
            </td>
            <td class="numeric" scope="col">
                <span class="table-heading" aria-hidden="true">Monthly</span>
                £1,648
            </td>
            <td class="numeric" scope="col">
                <span class="table-heading" aria-hidden="true">Yearly</span>
                £19,779
            </td>
        </tr>
        {# <tr>
            <td scope="col">
                <span class="table-heading" aria-hidden="true">Age</span>
                65 (normal retirement age)
            </td>
            <td class="numeric" scope="col">
                <span class="table-heading" aria-hidden="true">Monthly</span>
                £1,986
            </td>
            <td class="numeric" scope="col">
                <span class="table-heading" aria-hidden="true">Yearly</span>
                £23,829
            </td>
        </tr> #}
        <tr>
            <td scope="col">
                <span class="table-heading" aria-hidden="true">Age</span>
                66
            </td>
            <td class="numeric" scope="col">
                <span class="table-heading" aria-hidden="true">Monthly</span>
                £2,268
            </td>
            <td class="numeric" scope="col">
                <span class="table-heading" aria-hidden="true">Yearly</span>
                £27,213
            </td>
        </tr>
    </tbody>
</table>