{% extends "layout_bsa.html" %}

{% block page_title %}
Your pension information - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <div class="interrupt-panel">
                <div class="heading-group">
                    <h1 class="heading-large">Your pay information was last updated on <strong class="bold nobr">{{ data['lastUpdatedDate'] }}</strong></h1>
                </div>
                <hr>
                <p>Pay information from your employer is used to show your pension contributions and calculate your pension estimate.</p>
                <p>This information is updated every year.</p>
                <hr>
                <a href="personal-details" class="button">Next</a>
            </div>

        </div>
    </div>
        
</main>

{% endblock %}
