{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {# {% include "includes/back-link.html" %} #}
    
    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="heading-group">
            <p>{{ serviceName }}</p>
            <h1 class="heading-large">Enter details</h1>
        </div>

        <form>
            <fieldset class="form-group">
                <legend><span class="visually-hidden">Pension member number</span></legend>
                <label class="form-label" for="sd-number">
                    <strong class="bold">Your pension member number</strong>
                    <span class="form-hint">
                        For example, ‘12345678’.
                    </span>
                </label>
                <input class="form-control" id="sd-number" type="text">
                <br><br>
                <details>
                    <summary><span class="summary">Help finding your pension member number</span></summary>
                    <div class="panel panel-border-narrow">
                        <p>Your pension member number can be found on your payslip, it is sometimes known as your SD reference number.</p>
                        <img src="/public/images/payslip.gif" alt="Payslip" width="300" />
                    </div>
                </details>
            </fieldset>

            <fieldset class="form-group">
                <legend><span class="visually-hidden">National Insurance number</span></legend>
                <label class="form-label" for="ni-number">
                    <strong class="bold">Your National Insurance number</strong>
                    <span class="form-hint">
                        For example, ‘QQ 12 34 56 C’.
                    </span>
                </label>
                <input class="form-control" id="ni-number" type="text">
                <br><br>
                <details>
                    <summary><span class="summary">Help finding your National Insurance number</span></summary>
                    <div class="panel panel-border-narrow">
                        <p>Your National Insurance number can be found on</p>
                        <ul class="list list-bullet">
                            <li>your National Insurance card</li>
                            <li>your payslip</li>
                            <li>P60</li>
                            <li>benefits information</li>
                            <li>tax return</li>
                        </ul>
                    </div>
                </details>
            </fieldset>
            
            <div class="grid-row">
                <div class="column-two-thirds">
                    <fieldset class="form-group">
                        <legend><span class="visually-hidden">Post code</span></legend>
                        <label class="form-label" for="post-code">
                            <strong class="bold">Your post code</strong>
                            <span class="form-hint">
                                For example, ST18 0WW.
                            </span>
                        </label>
                        <input class="form-control" id="post-code" type="text">
                    </fieldset>
                </div>
            </div>

            <div class="form-group">
                <input class="button" type="submit" value="Continue">
            </div>

        </form>
        <hr>

        <p>Don’t know your pension membership number? <a href="search">Search for it with your personal details</a>.</p>
        <p>Alternatively, you can confirm your identity with <a href="/confirm-identity">GOV.UK Verify</a>.</p>

      </div>
    </div>
</main>

{% endblock %}
