{% extends "layout_bsa.html" %}

{% block page_title %}
Your 1995 pension contributions - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">1995 pension contributions</h1>
            </div>
            
            <p>Last updated: <strong class="bold">31st March 2018</strong></p>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Contribution</th>
                        <th class="numeric" scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Your contributions</td>
                        <td class="numeric"><strong class="bold">£23,196</strong></td>
                    </tr>
                    <tr>
                        <td>Employer contributions</td>
                        <td class="numeric"><strong class="bold">£58,500</strong></td>
                    </tr>
                    <tr>
                        <td>Total contributions</td>
                        <td class="numeric"><strong class="bold">£81,696</strong></td>
                    </tr>
                </tbody>
            </table>

            <br>
            {% include "includes/back-to-home-link.html" %}

        </div>

    </div>

</main>

{% endblock %}
