<p class="heading-xsmall govuk-margin-top-0">
    Your <span class="bold">{{ data['schemeReference'] }} pension</span> is currently worth 
    <span class="bold">£73</span> a month,
    which is 
    <span class="bold">£876</span>  a year.
</p>

<h2 class="heading-small govuk-margin-top-0">At <span class="bold font-medium">age {{ data.estimateResult2008.age }}</span> it could be worth</h2>
<p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£{{ data.estimateResult2008.estimate.monthly }} a month</p>
<p class="heading-medium govuk-margin-bottom-0 govuk-margin-top-0">£{{ data.estimateResult2008.estimate.yearly }}  a year</p>

{% if ( data.estimateResult2008.lump > "0" ) %}
    <p class="heading-small">with a one off lump sum payment of <br><span class="font-large bold">£{{ data.estimateResult2008.lump }}</span>
        when you start taking this pension
    </p>
{% else %}
    <br>
    <p>
        <span class="bold-small">You can take part of this pension as a one off lump sum payment.</span>
        {# <a href="lump">Add a lump sum</a>. #}
    </p>
{% endif %}
<hr class="break">