<div>
    <dt class="cya-question">Start date</dt>
    <dd class="cya-answer">
        {{ data['getDate'] }} - age {{ data['estimateAge'] }}
        {% if ( data['getDate'] === data['getNDate']) %}
        <span class="font-xsmall nobr">(Your normal pension date)</span>
        {% endif %}
    </dd>
    <dd class="cya-change">
        <a href="when?schemeReference=2015">Change<span class="visually-hidden"> start date</span></a>
    </dd>
</div>
<div>
    <dt class="cya-question">Lump sum amount</dt>
    <dd class="cya-answer">
        £{{ data['getLump'] }}
        {% if ( data['maxLump'] === true) %}
        <span class="font-xsmall nobr">(Your maximum lump amount)</span>
        {% endif %}
    </dd>
    <dd class="cya-change">
        <a href="lump?schemeReference=2015">Change<span class="visually-hidden"> lump sum amount</span></a>
    </dd>
</div>