
<h3 class="heading-medium govuk-margin-top-0">Compare your estimates</h3>
<div class="bsa-print-hide">
    <p>To help you compare your retirement options you will see a list of previous estimates as you change them.</p>
</div>

<table class="responsive-table">
    <caption class="visually-hidden">Other retirement examples</caption>
    <thead>
        <tr>
            
            <th scope="col" class="nobr">Start date</th>
            <th scope="col" class="nobr">Age</th>
            <th scope="col" class="numeric nobr">Lump sum</th>
            <th scope="col" class="numeric nobr">Monthly</th>
            <th scope="col" class="numeric nobr">Yearly</th>
            {# <th scope="col" class="nobr">From</th> #}
        </tr>
    </thead>
    <tbody>

        {% if data['reports'] != '' %}

            {% for report in data['reports'] | reverse %}

            {# <tr>
                <td colspan="6">{{ report | dump }}</td>
            </tr> #}

            <tr>
                <td>
                    <span class="table-heading" aria-hidden="true">Start date</span>
                    {{ report.date }}
                    {% if ( report.age === data['early2015'] ) %}
                        <span class="font-xsmall nobr">(Your earliest pension date)</span>
                    {% elif ( report.age === data['normal2015'] ) %}
                        <span class="font-xsmall nobr">(Your NHS pension date)</span>
                    {% elif ( report.age === data['late2015'] ) %}
                        <span class="font-xsmall nobr">(Your latest pension date)</span>
                    {% endif %}
                </td>
                <td>
                    <span class="table-heading" aria-hidden="true">Age</span>
                    {{ report.age }}
                </td>
                <td class="numeric">
                    <span class="table-heading" aria-hidden="true">Lump sum</span>
                    £{{ report.lump }} 
                </td>
                <td class="numeric">
                    <span class="table-heading" aria-hidden="true">Monthly</span>
                    £{{ report.estimate.monthly }} 
                </td>
                <td class="numeric">
                    <span class="table-heading" aria-hidden="true">Yearly</span>
                    £{{ report.estimate.yearly }}
                </td>
                {# <td>{{ report.scheme }}</td> #}
            </tr>
            {% endfor %}

        {% endif %}
        <tr>
            
            <td>
                <span class="table-heading" aria-hidden="true">Start date</span>
                {{ data['estimateDate'] }}
                <span class="font-xsmall nobr">(Your NHS pension date)</span>
            </td>
            <td>
                <span class="table-heading" aria-hidden="true">Age</span>
                {{ data['estimateAge'] }}
            </td>
            <td class="numeric">
                <span class="table-heading" aria-hidden="true">Lump sum</span>
                £{{ data['estimateLump'] }}
            </td>
            <td class="numeric">
                <span class="table-heading" aria-hidden="true">Monthly</span>
                £{{ data['estimateMonthly'] }}
            </td>
            <td class="numeric">
                <span class="table-heading" aria-hidden="true">Yearly</span>
                £{{ data['estimateYearly'] }}
            </td>
            {# <td>2015</td> #}
        </tr>
    </tbody>
</table>


<div class="bsa-print-hide">
<br>
{% include "includes/print-link.html" %}
</div>
<br>