{% extends "layout_bsa.html" %}

{% block page_title %}
{{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">    
    {% include "includes/phase_banner_beta.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Sorry, there is a problem <br>with the service</h1>
            </div>

            <p>Try again later.</p>

            {# <p>We have not saved your answers. When the service is available, you will have to start again.</p> #}

            <p><a href="https://www.nhsbsa.nhs.uk/member-hub/members-contact-us">Contact our NHS Business Services Authority Pensions helpline</a> if you need to make changes to your claim or speak to someone about your pension.</p>
            
        </div>
    </div>

</main>

{% endblock %}

{% block footer %}
{% endblock %}