{% extends "layout_bsa.html" %}

{% block page_title %}
{{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">    
    {% include "includes/phase_banner_beta.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Service unavailable</h1>
            </div>

            <p>You will be able to use the service later.</p>

            <p><a href="https://www.nhsbsa.nhs.uk/member-hub/members-contact-us">Contact our NHS Business Services Authority Pensions helpline</a> if you need to speak to someone about your pension.</p>

            
        </div>
    </div>

</main>

{% endblock %}

{% block footer %}
{% endblock %}