{% extends "layout_bsa.html" %}

{% block page_title %}
Email - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
             
            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="page-header--lede heading-large">Check your email</h1>
            </div>

            <div class="panel panel-border-wide">
                <p>We sent a code to <strong class="bold">gareth.joyce@nhs.net</strong></p>
            </div>

            <p>You will need to <a href="code">enter the code</a> to confirm your email.</p>

            <p>If our email doesn't arrive within 5 minutes, check your spam and trash folder, or <a href="set-email">try again</a>.</p>
            
            <!-- End of content -->
            <p><a href="email-confirmation" class="prototype-signpost">See email mock-up using GOV.UK Notify</a></p>


        </div>
    </div>

</main>

{% endblock %}
