{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}
    
    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="notice heading-group">
            <p>{{ serviceName }}</p>
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            <h1 class="notice__heading heading-large">Find your pension record</h1>
        </div>

        {# <div class="heading-group">
            <p>{{ serviceName }}</p>
            <h1 class="heading-large">We need to find your pension record</h1>
        </div> #}

        <p>We'll ask you some questions to find your record.</p>

        <p>We'll also ask you for an email address which you'll need to confirm. You'll use this to access this service in future.</p>

        <a href="name" class="button">Continue</a>

      </div>
    </div>
</main>

{% endblock %}
