{% extends "layout_bsa.html" %}

{% block page_title %}
Email - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
             
            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="page-header--lede heading-large">Email address not confirmed</h1>
            </div>

            <div class="panel panel-border-wide">
                <p>You entered <strong class="bold">madeupemail@spammer.com</strong></p>
            </div>

            <p>The email address entered is not confirmed. You can <a href="email">try again</a>.</p>

            <hr>
            <p>You will need to <a href="confirm-identity">find your pension record</a> to sign into this service.</p>


        </div>
    </div>

</main>

{% endblock %}
