{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}
    
    <div class="grid-row">
      <div class="column-full">
        <div class="heading-group">
          <p>{{ serviceName }}</p>
          <h1 class="heading-xlarge">Modal dialog</h1>
        </div>
        
        <p>Example from <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/104">https://github.com/alphagov/govuk-design-system-backlog/issues/104</a></p>
        <p><button type="button" class="button" onClick="GOVUK.modalDialog.openDialog();">Launch modal window example</button> or wait 1 minute.</p>
        
        <!-- Modal dialog HTML -->
        <dialog id="js-modal-dialog" data-minutes-idle-timeout="1" data-minutes-modal-visible="2" data-url-redirect="/error/session-timeout" class="modal-dialog dialog" role="dialog" aria-live="polite" aria-labelledby="dialog-title" aria-describedby="at-timer">
            <div class="modal-dialog__inner">
                <h1 id="dialog-title" class="heading-large">You are about to be signed out</h1>
                <div class="modal-dialog__inner__text">
                    <div class="timer" aria-hidden="true" aria-relevant="additions"></div>
                    <div id="at-timer" class="at-timer visually-hidden" role="status"></div>
                    <p>We have saved your information.</p>
                </div>
                <div class="modal-dialog__inner__block">
                    <p><button class="button dialog-button modal-dialog__inner__button js-dialog-close">Stay signed in</button></p>
                    <p><a href="/error/session-timeout" class="modal-dialog__inner__link">Sign out</a></p>
                </div>
            </div>
        </dialog>
        <!--/ Modal dialog HTML -->


      </div>
    </div>
</main>

{% endblock %}
