{% extends "layout_bsa.html" %}

{% block page_title %}
Your 1995 pension contributions - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
       
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Check your {{ data['schemeReference'] }} scheme membership record</h1>
            </div>

            {% include "membership/includes/check-it-notice.html" %}
            <br>

            <p>This information is a list of your pensionable service in the NHS <span class="optional">for the {{ data['schemeReference'] }} scheme only</span>, it was last 
updated on <strong class="bold">{{ data["lastUpdatedDate"] }}</strong>.</p>

            {% set totalHtml %}
                {% include "membership/includes/total.html" %}
            {% endset %}

            {{ govukDetails({
                summaryText: 'View your ' + data['schemeReference'] + ' scheme membership total',
                html: totalHtml
            }) }}
            <hr />

            <ul class="bsa-transaction">

                <li class="bsa-transaction__item">

                    <div class="bsa-transaction__header">
                        <span class="bsa-transaction__tag font-xsmall">EA483950</span>
                        <h2 class="heading-small">Black Country Partnership NHS Foundation Trust</h2>
                    </div>

                    {{ govukSummaryList({
                        rows: [
                            {
                                key: {
                                    text: "Dates"
                                },
                                value: {
                                    text: "23 June 2011 to 6 August 2012"
                                }
                            },
                            {
                                key: {
                                    text: "Membership"
                                },
                                value: {
                                    text: "10 years 184 days"
                                }
                            }
                        ]
                    }) }}
                </li>

                <li class="bsa-transaction__item">
                    <div class="bsa-transaction__header">
                        <span class="bsa-transaction__tag font-xsmall">EA183827</span>
                        <h2 class="heading-small">Birmingham and Solihull Mental Health NHS Foundation Trust</h2>
                    </div>

                    {{ govukSummaryList({
                        rows: [
                            {
                                key: {
                                    text: "Dates"
                                },
                                value: {
                                    text: "23 June 2011 to 6 August 2012"
                                }
                            },
                            {
                                key: {
                                    text: "Membership"
                                },
                                value: {
                                    text: "10 years 184 days"
                                }
                            }
                        ]
                    }) }}

                </li>

                <li class="bsa-transaction__item">
                    <div class="bsa-transaction__header">
                        <span class="bsa-transaction__tag font-xsmall">EA403928</span>
                        <h2 class="heading-small">Coventry and Warwickshire Partnership Trust (CWPT)</h2>
                    </div>

                    {{ govukSummaryList({
                        rows: [
                            {
                                key: {
                                    text: "Dates"
                                },
                                value: {
                                    text: "3 January 2008 to 2 May 2011"
                                }
                            },
                            {
                                key: {
                                    text: "Status"
                                },
                                value: {
                                    text: "Mental health officer held"
                                }
                            },
                            {
                                key: {
                                    text: "Membership"
                                },
                                value: {
                                    text: "10 years 184 days"
                                }
                            }
                        ]
                    }) }}

                </li>

                <li class="bsa-transaction__item">
                    <div class="bsa-transaction__header">
                        <span class="bsa-transaction__tag font-xsmall">EA488853</span>
                        <h2 class="heading-small">Midlands Partnership NHS Foundation Trust (formerly Staffordshire and Stoke on Trent Partnership Trust)</h2>
                    </div>

                    {% set ptTableHtml %}
                    <table>
                        <caption class="visually-hidden">Hours breakdown</caption>
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Hours / sessions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>2013</strong></td>
                                <td>652</td>
                            </tr>
                            <tr>
                                <td><strong>2014</strong></td>
                                <td>1654</td>
                            </tr>
                            <tr>
                                <td><strong>2015</strong></td>
                                <td>1654</td>
                            </tr>
                            <tr>
                                <td><strong>2016</strong></td>
                                <td>1654</td>
                            </tr>
                            <tr>
                                <td><strong>2017</strong></td>
                                <td>1654</td>
                            </tr>
                            <tr>
                                <td><strong>2018</strong></td>
                                <td>1654</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endset %}

                    {{ govukSummaryList({
                        rows: [
                            {
                                key: {
                                    text: "Dates"
                                },
                                value: {
                                    text: "3 January 2008 to 2 May 2011"
                                }
                            },
                            {
                                key: {
                                    text: "Contract"
                                },
                                value: {
                                    text: "Part time"
                                }
                            },
                            {
                                key: {
                                    text: "Breakdown"
                                },
                                value: {
                                    html: ptTableHtml
                                }
                            },
                            {
                                key: {
                                    text: "Membership"
                                },
                                value: {
                                    text: "10 years 184 days"
                                }
                            }
                        ]
                    }) }}

                </li>

            </ul>

            <h2 class="heading-medium govuk-margin-top-0 govuk-margin-bottom-0">Membership totals</h2>
            {% include "membership/includes/total.html" %}

            <p>You also have membership in the 2008 pension scheme <a href="/membership/summary-list-style?schemeReference=2008">view your membership record</a>.</p>

            <hr>

            {% include "membership/includes/incorrect.html" %}
            <hr>
            {% include "membership/includes/what-for.html" %}
            <hr>
            
            <p><a href="#">Print this page</a></p>
            <br>
            {% include "includes/back-to-home-link.html" %}

        </div>

    </div>

</main>

{% endblock %}
