$timeline-border-color: $nhs-blue;

.bsa-timeline__entry {
    border-left: 3px solid $timeline-border-color;
    margin: 0;
    padding-left: 1em;
    padding-bottom: 1em;
    position: relative;

    &--dash {
        border-left-style: dashed;
    }
}

.bsa-timeline__entry::before,
.bsa-timeline__entry::after {
    background-color: $timeline-border-color;
    content: ' ';
    display: none;
}

.bsa-timeline__entry::before {
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: .5em;
    width: 10px;
}

.bsa-timeline__entry::after {
    height: 3px;
    left: -11px;
    position: absolute;
    bottom: 0;
    width: 20px;
}

.bsa-timeline__entry:last-child {
    &::after {
        display: block;
    }
}

.bsa-timeline__entry .bsa-timeline__title {
    display: block;
    font-weight: 700;
}

.bsa-timeline__entry .bsa-timeline__author,
.bsa-timeline__entry .bsa-timeline__date {
    color: #6f777b;
    display: block;
}

.bsa-timeline__entry .bsa-timeline__info {
    margin-top: 0;
}

.bsa-timeline__entry .bsa-timeline__body {
    display: block;
}

.bsa-timeline--closed {
    padding-top: .5em;
    .bsa-timeline__entry:first-child {
        .bsa-timeline__title {
            position: relative;
            top: -.5em;
            margin-bottom: -.5em;
        }
        
        &::before {
            top: 0;
            width: 20px;
            left: -11px;
        }
    }
}