{% extends "layout.html" %}

{% block page_title %}
About identity accounts - {{ serviceName }} - NHSBSA
{% endblock %}

{% block body_classes %}
hub-start
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include 'verify/includes/back.html' %}

  <div class="content-inner slides">
    <div class="grid-row">
      <div class="column-one-third">
        {% include 'verify/includes/verify-start-logo.html' %}
      </div>
      <div class="column-two-thirds">

        <form action="choose-a-company" method="post">

          <p>Verifying your identity takes about 5 minutes to complete.</p>
          <p>You’ll then have an identity account with the certified company.</p>
          <p>You can use this identity account to access other government services wherever you see the GOV.UK Verify
            logo.</p>

          <div class="form-group">
            <div class="actions">
              <input class="button" id="next-button" type="submit" value="Start now">
            </div>
          </div>


          <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Where you can use your identity account</span>
            </summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <p></p>
              <p>GOV.UK Verify is new, and government services are joining all the time.</p>
              <p>You can use your identity account to access:</p>
              <p></p>
              <ul class="list-bullet list">
                <li>view or share your driving licence information</li>
                <li>get your State Pension</li>
              </ul>

              <p>When you access these government services, you'll be asked to provide more evidence as these services
                need to be confident someone isn't pretending to be you:</p>
              <ul class="list-bullet list">
                <li>complete your Self Assessment</li>
                <li>check your State Pension</li>
                <li>sign in to your personal tax account</li>
                <li>complete your claim or access your Universal Credit account</li>
                <li>check your income tax for the current year</li>
                <li>report a medical condition that affects your driving</li>
                <li>renew your short-term medical driving licence</li>
                <li>check or update your company car tax</li>
                <li>use Rural Payments</li>
                <li>help friends and family with their tax</li>
                <li>apply for a vehicle operator licence</li>
                <li>apply for a DBS basic check</li>
              </ul>

            </div>
          </details>
        </form>

      </div>
    </div>
  </div>



</main>
{% endblock %}