{% extends "layout.html" %}

{% block page_title %}
Verify journey - {{ serviceName }} - NHSBSA
{% endblock %}

{% block body_classes %}
hub-start
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

    {% include 'verify/includes/back.html' %}

    <div class="content-inner slides">
      <div class="grid-row">
        <div class="column-one-third">
          {% include 'verify/includes/verify-start-logo.html' %}
        </div>
        <div class="column-two-thirds">
            
            <form action="certified-companies" method="post">
                <p>GOV.UK Verify is a secure service built to fight the growing problem of online identity theft.</p>
  
                <div class="form-group">
                    <div class="actions">
                        <input class="button" id="next-button" type="submit" value="Next">
                    </div>
                </div>
            </form>

        </div>
      </div>
    </div>
    


</main>
{% endblock %}