{% extends "layout.html" %}

{% block page_title %}
Processing - {{ serviceName }} - NHSBSA
{% endblock %}

{% block body_classes %}
hub-start
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

    {% include 'verify/includes/back.html' %}

    <div class="content-inner slides">
      <div class="grid-row">
        <div class="column-one-third">
          <figure>
            <img srcset="/public/images/verify/govuk-verify.svg 1x" alt="GOV.UK Verify" src="/public/images/verify/govuk-verify.png">
          </figure>
        </div>
        <div class="column-two-thirds">
            
            <h1>Sign in with GOV.UK Verify</h1>
            <form action="certified-companies" method="post">
                <p>GOV.UK Verify is a secure service built to help fight the growing problem of online identity theft.</p>
                <p>DVLA uses Verify to help prevent other people from accessing your driving licence information, as it stops someone from pretending to be you.</p>
  
                <div class="form-group">
                    <div class="actions">
                        <input class="button" id="next-button" type="submit" value="Start now">
                    </div>
                </div>
            </form>

        </div>
      </div>
    </div>
    


</main>
{% endblock %}