{% extends "layout.html" %}

{% block page_title %}
Processing - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner_beta.html" %}
    <div class="grid-row">
        <div class="column-two-thirds" style="margin: auto; float: none; text-align: center;">
            <h1 class="heading-large">NHS BSA is processing your details</h1>
            <p>This may take a few seconds, please bear with us.</p>
            <img src="/public/images/spinner.gif" alt="Spinner" />
           
        </div>

    </div>
</main>
<script>
window.setTimeout(function(){
    window.location.href = "/matching";
    }, 3000);
</script>
{% endblock %}