{% extends "layout_bsa.html" %}

{% block page_title %}
2015 Scheme pension calculator - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">2015 pension estimate</h1>
            </div>

            <div class="done-panel">
                <p class="govuk-margin-bottom-0">If you retire at <strong class="bold">56</strong> on <strong class="bold">1st November 2022</strong> and<br> you take a lump sum of <strong class="bold">£28,000</strong> your estimate&nbsp;is</p>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£467.22 a month</p>
                <p class="govuk-margin-top-0">reduced from £777.77 a month.</p>
                <p>Your yearly estimate is <strong class="bold">£5,606.64</strong> reduced from <strong class="bold">£29,810.47</strong>.</p>
            </div>
            
            {% include "includes/calculator-link.html" %}
            {% include "includes/caveat-link.html" %}
            {% include "calculator/includes/next.html" %}
            <hr>
            {% include "includes/back-to-home-link.html" %}
            
        </div>
    </div>

</main>

{% endblock %}
