{% extends "layout_bsa.html" %}

{% set getDate = '1 March 2038' %}
{% set getAge = data['specific-age-value'] %}
{% set getMonthly = '2,231' %}
{% set getYearly = '26,773' %}
{% set reducedDate = '1 March 2030' %}
{% set reducedAge = '55' %}
{% set getReducedMonthly = '1,287' %}
{% set getReducedYearly = '18,957' %}
{% set getLump = '114,740' %}

{% if data['retire-group'] === '67' %}
{% set getAge = data['retire-group'] %}
{% endif %}

{# Scenario 2 = 67 + max lump #}
{% if (getAge === '67') and (data['lump-amount'] === 'Max') %}
{% set getMonthly = '1,434' %}
{% set getYearly = '17,211' %}
{% endif %}

{# Scenario 3 = 63 + no lump #}
{% if (getAge === '63') and (data['lump-amount'] === 'None') %}
{% set getMonthly = '1,419' %}
{% set getYearly = '17,024' %}
{% endif %}

{# Scenario 4 = 63 + max lump #}
{% if (getAge === '63') and (data['lump-amount'] === 'Max') %}
{% set getMonthly = '912' %}
{% set getYearly = '10,944' %}
{% set getLump = '72,960' %}
{% endif %}

{# Scenario 5 = 63 + 18k lump #}
{% if (getAge === '63') and (data['other-amount-value'] === '18000') %}
{% set getMonthly = '1,294' %}
{% set getYearly = '15,524' %}
{% set getLump = '18,000' %}
{% endif %}

{% if data['schemeReference'] === '2008' %}
    {% set getDate = '1 December 2041' %}
    {% set getMonthly = '422' %}
    {% set getYearly = '5,075' %}
    {% set getReducedMonthly = '1,287' %}
    {% set getReducedYearly = '18,957' %}
    {% set reducedDate = '1 December 2031' %}
    {% set getLump = '102,126' %}

{% elif data['schemeReference'] === '1995' %}
    {% set getDate = '1 December 2041' %}
    {% set getAge = '60' %}
    {% set getMonthly = '2,104' %}
    {% set getYearly = '25,218' %}
    {% set reducedDate = '1 December 2036' %}
    {% set reducedAge = '55' %}
    {% set getReducedMonthly = '1,287' %}
    {% set getReducedYearly = '18,957' %}
    {% set getLump = '102,126' %}
{% endif %}

{% block page_title %}
2015 Scheme pension calculator - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-desktop-two-thirds">

            <div class="interrupt-panel">
                <h1 class="heading-small govuk-margin-top-0">{{ data['schemeReference'] }} pension estimate</h1>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£{{ getMonthly }} a month</p>
                <p class="heading-medium govuk-margin-bottom-0 govuk-margin-top-0">£{{ getYearly }} a year</p>
                <br>
                <dl class="govuk-check-your-answers cya-questions-short cya-no-change">

                    {% if (data['retire-group'] == 'specificDate') %}
                    <div>
                        <dt class="cya-question">Your retirement date</dt>
                        <dd class="cya-answer">{{ data['retire-day'] }}/{{ data['retire-month'] }}/{{ data['retire-year'] }}</dd>
                        <dd class="cya-change">
                            <a href="/calculator/when-retire">Change<span class="visually-hidden"> your retirement date</span></a>
                        </dd>
                    </div>

                    {% elif (data['specific-age-value']) %}
                    <div>
                        <dt class="cya-question">Your retirement age</dt>
                        <dd class="cya-answer">{{ getAge }}</dd>
                        <dd class="cya-change">
                            <a href="/calculator/when-retire">Change<span class="visually-hidden"> age</span></a>
                        </dd>
                    </div>
                    {% else %}
                    <div>
                        <dt class="cya-question">Your retirement age</dt>
                        <dd class="cya-answer">{{ getAge }} <span class="font-xsmall nobr">(normal retirement age)</span></dd>
                        <dd class="cya-change">
                            <a href="/calculator/when-retire">Change<span class="visually-hidden"> age</span></a>
                        </dd>
                    </div>
                    {% endif %}
                    
                    {% if (data['lump-amount'] == 'None') %}
                        {% set lumpAmount = 'No lump sum' %}
                    {% elif (data['lump-amount'] == 'Max') %}
                        {% set lumpAmount = '£'+getLump %}
                    {% elif (data['lump-amount'] == 'Other') %}
                        {% set lumpAmount = '£'+data['other-amount-value'] %}
                    {% endif %}
                    <div>
                        <dt class="cya-question">Your lump sum</dt>
                        <dd class="cya-answer">{{ lumpAmount }}</dd>
                        <dd class="cya-change">
                            <a href="/calculator/lump-amount">Change<span class="visually-hidden"> lump sum</span></a>
                        </dd>
                    </div>
           
                </dl>
                <br>
                
                {% include "calculator/includes/pay-info-date.html" %}
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <div class="bsa-print-hide">

                <h2 class="heading-medium govuk-margin-top-0">Other retirement examples</h2>
                {% include "calculator/includes/retirement-examples/both.html" %}
                <br>
                {% include "calculator/includes/next.html" %}
                {% include "includes/print-link.html" %}
                <hr>
                {% include "includes/back-to-home-link.html" %}
            </div>

            {% include "includes/caveat-print.html" %}
        </div>
    </div>

</main>

{% endblock %}
