{% extends "layout_bsa.html" %}

{% block page_title %}
Pension calculator - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="nhsuk-box-highlight done-panel">
                <h1 class="heading-large">Your NHS Pension estimate:</h1>
                <p><strong class="heading-medium">£5,000 per year (£467 per month)</strong></p>
            </div>

            <p>If you retire at <strong class="bold">64 years (01/11/22)</strong> it will reduce your annual NHS 
            pension from <strong class="bold">£11,280</strong> to <strong class="bold">£5,000 per year</strong>.</p>

            <h2 class="heading-small">Alternative scenarios</h2>

            <table class="check-table stack-table center-on-stack" id="contact-details">
                <caption class="visually-hidden">Contact details</caption>
                <thead>
                    <tr>
                        <th>Retirement age</th>
                        <th class="numeric">Pension payment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">60 years (earliest retirement age)</td>
                        <td class="numeric" scope="col">£2,664 per year (£222 per month)</td>
                    </tr>
                    <tr>
                        <td scope="col">64 years</td>
                        <td class="numeric" scope="col">£5,000 per year (£467 per month)</td>
                    </tr>
                    <tr>
                        <td scope="col">67 years</td>
                        <td class="numeric" scope="col">£14,100 per year (£1175 per month)</td>
                    </tr>
                    <tr>
                        <td scope="col">65 years (normal retirement age)</td>
                        <td class="numeric" scope="col">£11,280 per year (£940 per month)</td>
                    </tr>
                </tbody>
            </table>

            <div class="bsa-print-hide">
                <br>
                {% include "includes/calculator-link.html" %}
                {% include "includes/caveat-link.html" %}
                {% include "calculator/includes/next.html" %}
                {% include "includes/print-link.html" %}
                <hr>
                {% include "includes/back-to-home-link.html" %}
            </div>

            {% include "includes/caveat-print.html" %}

        </div>
    </div>

</main>

{% endblock %}
