{% extends "layout_bsa.html" %}

{% block page_title %}
2015 Scheme pension calculator - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="done-panel">
                <h1 class="govuk-margin-bottom-0">Your {{ data['schemeReference'] }} pension <strong class="bold">estimate</strong> is:</h1>
                <p class="govuk-margin-top-0 govuk-margin-bottom-0">
                    <span class="heading-xlarge">£467 a month</span>
                    reduced from <strong class="bold nobr">£1,986</strong>
                </p>
                <p class="govuk-margin-bottom-0 govuk-margin-top-0">
                    <span class="heading-medium">£5,606 a year</span>
                    reduced from <strong class="bold nobr">£23,829</strong>
                </p>
                <p class="govuk-margin-bottom-0">With a lump sum of <strong class="bold nobr">£28,000</strong></p>
                <p class="govuk-margin-bottom-0">You could get this on <strong class="bold nobr">1 November 2022</strong> at age <strong class="bold">56</strong></p>
                <hr class="break">
                {% include "calculator/includes/pay-info-date.html" %}
            </div>
            
            <div class="bsa-print-hide">
                {% include "includes/calculator-link.html" %}
                {% include "includes/caveat-link.html" %}
                {% include "calculator/includes/next.html" %}
                {% include "includes/print-link.html" %}
                <hr>
                {% include "includes/back-to-home-link.html" %}
            </div>

            {% include "includes/caveat-print.html" %}
            
        </div>
    </div>

</main>

{% endblock %}
