{% extends "layout_bsa.html" %}

{% block page_title %}
2015 Scheme pension calculator - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">2015 pension estimate</h1>
            </div>

            <div class="done-panel">
                <p class="govuk-margin-bottom-0">If you take a lump sum of <strong class="bold">£28,000</strong> your estimate&nbsp;is</p>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£467.22 a month</p>
                <p class="govuk-margin-top-0">reduced from £777.77 a month.</p>
                <p>Your yearly estimate is <strong class="bold">£5,606.64</strong> reduced from <strong class="bold">£29,810.47</strong>.</p>
            </div>

            <h2 class="heading-medium">Other lump sum examples</h2>

            <table class="check-table stack-table center-on-stack" id="contact-details">
                <caption class="visually-hidden">Alternate lump sum scenarios</caption>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th class="numeric">Payment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">£14,000</td>
                        <td class="numeric" scope="col">£625.78 a month (£7,500.11 a year)</td>
                    </tr>
                    <tr>
                        <td scope="col">£28,000</td>
                        <td class="numeric" scope="col">£467.22 a month (£5,606.64 a year)</td>
                    </tr>
                    <tr>
                        <td scope="col">No lump sum</td>
                        <td class="numeric" scope="col">£2484.21 a month (£29,810.47 a year)</td>
                    </tr>
                </tbody>
            </table>

            <br>

            <!-- show for all -->
            {% include "calculator/includes/next.html" %}
            <hr>
            {% include "calculator/includes/caveat.html" %}
            
        </div>
    </div>

</main>

{% endblock %}
