{% extends "layout_bsa.html" %}

{% block page_title %}
2015 Scheme pension calculator - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">{{ data['schemeReference'] }} pension estimate</h1>
            </div>

            <div class="done-panel">
                <p class="govuk-margin-bottom-0">If you take a lump sum of <strong class="bold">£102,126</strong> your estimate&nbsp;is</p>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£1,277 a month</p>
                <p class="govuk-margin-top-0">reduced from £1,986 a month.</p>
                <p>Your yearly estimate is <strong class="bold">£15,319</strong> reduced from <strong class="bold">£23,829</strong>.</p>
            </div>


            <h2 class="heading-small">Lump sum examples</h2>

            <table class="check-table stack-table center-on-stack" id="contact-details">
                <caption class="visually-hidden">Other lump sum examples</caption>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th class="numeric">Payment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">£51,063</td>
                        <td class="numeric" scope="col">£1,631 a month (£19,574 a year)</td>
                    </tr>
                    <tr>
                        <td scope="col">£102,126 (Maximum amount)</td>
                        <td class="numeric" scope="col">£1,277 a month (£15,319 a year)</td>
                    </tr>
                    <tr>
                        <td scope="col">No lump sum</td>
                        <td class="numeric" scope="col">£2484.21 a month (£29,810.47 a year)</td>
                    </tr>
                </tbody>
            </table>

            <div class="bsa-print-hide">
                <br>
                {% include "includes/calculator-link.html" %}
                {% include "includes/caveat-link.html" %}
                {% include "calculator/includes/next.html" %}
                {% include "includes/print-link.html" %}
                <hr>
                {% include "includes/back-to-home-link.html" %}
            </div>

            {% include "includes/caveat-print.html" %}
            
        </div>

    </div>

</main>

{% endblock %}
