{% extends "layout_bsa.html" %}

{% block page_title %}
Pension calculator - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}

    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}
    
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">What do you want your 2015 NHS Pension estimate to include?</h1>
            </header>

            <form method="post" action="what-estimate" class="form">
                <fieldset class="form-group">
                    <legend class="visually-hidden">What do you want your 2015 NHS Pension estimate to include?</legend>
                    <div class="multiple-choice">
                        <input id="retiring-age" name="estimate_based_on[]" type="checkbox" value="age">
                        <label for="retiring-age">Retiring at a different age</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="lump-sum" name="estimate_based_on[]" type="checkbox" value="lump">
                        <label for="lump-sum">Taking a lump sum when I retire</label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Next">
                </div>
            </form>
      
        </div>
    </div>

</main>

{% endblock %}
