{% extends "layout_bsa.html" %}

{% block page_title %}
2015 Scheme pension calculator - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}

    <header class="heading-group">
        <p>2015 Scheme NHS Pension calculator</p>
        <h1 class="heading-xlarge">When would you like to retire?</h1>
    </header>

    <div class="grid-row">
        <div class="column-two-thirds">

            <form method="post" class="form" action="when-retire">
                <fieldset class="form-group">
                    <legend class="visually-hidden">When would you like to retire?</legend>
                    <div class="multiple-choice" data-target="specific-age-panel">
                        <input id="specific-age" type="radio" name="retire-group" value="Yes">
                        <label for="specific-age">A specific age</label>
                    </div>
                    <div class="panel panel-border-narrow js-hidden" id="specific-age-panel">
                        <label class="form-label" for="specific-age-value">Age</label>
                        <input class="form-control" name="specific-age-value" type="text" id="specific-age-value">
                    </div>

                    <div class="multiple-choice" data-target="specific-date-panel">
                        <input id="specific-date" type="radio" name="retire-group" value="Yes">
                        <label for="specific-date">A specific date</label>
                    </div>
                    <div class="panel panel-border-narrow js-hidden" id="specific-date-panel">

                        <p class="form-hint">For example, 31 3 1980</p>

                        <div class="form-date">
                            <div class="form-group form-group-day">
                                <label for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" max="31" min="0" name="dob-day" pattern="[0-9]*" type="number">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" max="12" min="0" name="dob-month" pattern="[0-9]*" type="number">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" max="2014" min="0" name="dob-year" pattern="[0-9]*" type="number">
                            </div>

                        </div>

                    </div>
                </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Next">
                </div>
            </form>
      
        </div>
    </div>

</main>

{% endblock %}
