{% extends "layout_bsa.html" %}

{% block page_title %}
Your pension estimate - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{ scheme }}
            {% set scheme = data['scheme'] %}

            {% if (scheme == null) or ('2015' in scheme) or ('0' in scheme) %}

                <div class="heading-group">
                    <p>{{ serviceName }}</p>
                    <h1 class="heading-large">Your pension estimate</h1>
                </div>

                {% include "includes/caveat-content.html" %}
            {% endif %}

            {# {% if (scheme == null) or ('2008' in scheme) or ('0' in scheme) %} 
08
            {% endif %}

            {% if (scheme == null) or ('1995' in scheme) or ('0' in scheme) %}   
95
            {% endif %} #}

            <hr>
            {% include "includes/back-to-home-link.html" %}
            
        </div>
    </div>

</main>

{% endblock %}
