{% extends "layout_bsa.html" %}

{% set getDate = '1 March 2038' %}
{% set getAge = '63' %}
{% set getMonthly = '1,648' %}
{% set getYearly = '19,799' %}
{% set reducedDate = '1 March 2030' %}
{% set reducedAge = '55' %}
{% set getReducedMonthly = '1,287' %}
{% set getReducedYearly = '18,957' %}

{% if data['schemeReference'] === '2008' %}
    {% set getDate = '1 December 2041' %}
    {% set getMonthly = '422' %}
    {% set getYearly = '5,075' %}
    {% set getReducedMonthly = '1,287' %}
    {% set getReducedYearly = '18,957' %}
    {% set reducedDate = '1 December 2031' %}
{% elif data['schemeReference'] === '1995' %}
    {% set getDate = '1 December 2041' %}
    {% set getAge = '60' %}
    {% set getMonthly = '2,104' %}
    {% set getYearly = '25,218' %}
    {% set reducedDate = '1 December 2036' %}
    {% set reducedAge = '55' %}
    {% set getReducedMonthly = '1,287' %}
    {% set getReducedYearly = '18,957' %}
{% endif %}

{% block page_title %}
2015 Scheme pension calculator - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}

    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">{{ data['schemeReference'] }} pension <strong class="bold">estimate</strong></h1>
            </header>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-desktop-two-thirds">

            <div class="interrupt-panel">
                <p class="govuk-margin-bottom-0">
                    If you retire early at the age of <strong class="bold">{{ getAge }}</strong> on 
                    <strong class="bold nobr">{{ getDate }}</strong>, your pension could be worth:
                </p>
                <p class="heading-xlarge govuk-margin-top-0 govuk-margin-bottom-0">£{{ getMonthly }} a month</p>
                <p class="heading-medium govuk-margin-bottom-0 govuk-margin-top-0">£{{ getYearly }} a year</p>

                <h2 class="heading-small">Other retirement examples</h2>
                {% include "calculator/includes/retirement-examples/ages2.html" %}
                {% include "calculator/includes/pay-info-date.html" %}
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="bsa-print-hide">
                {% include "includes/calculator-link.html" %}
                {% include "calculator/includes/next.html" %}
                {% include "includes/print-link.html" %}
                <hr>
                {% include "includes/back-to-home-link.html" %}
            </div>

            {% include "includes/caveat-print.html" %}

        </div>
    </div>

</main>

{% endblock %}
