{% extends "layout_bsa.html" %}

{% block page_title %}
Your pension contributions - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}
    
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Your pension contributions</h1>
            </div>

            <p><strong class="bold">Last updated: 31 January 2019</strong></p>

<section>
    <h2 class="visually-hidden">2015 Pension</h2>

            <table>
        <caption class="heading-medium govuk-margin-top-0 govuk-margin-bottom-0">2015 pension contributions</caption>
        <thead>
            <tr>
                <th scope="col"><span class="visually-hidden">2015 pension contributions</span></th>
                <th class="numeric" scope="col"><span class="visually-hidden">Amount</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Your contributions</td>
                <td class="numeric"><strong class="bold">£9,600</strong></td>
            </tr>
            <tr>
                <td>Employer contributions</td>
                <td class="numeric"><strong class="bold">£38,400</strong></td>
            </tr>
            <tr>
                <td>Contribution total</td>
                <td class="numeric"><strong class="bold">£48,000</strong></td>
            </tr>
        </tbody>
    </table>

    </section>
<hr class="visual-break">
    <section>
    <h2 class="visually-hidden">2008 Pension</h2>


        <table>
        <caption class="heading-medium govuk-margin-top-0 govuk-margin-bottom-0">2008 pension contributions</caption>
        <thead>
            <tr>
                <th scope="col"><span class="visually-hidden">2008 pension contributions</span></th>
                <th class="numeric" scope="col"><span class="visually-hidden">Amount</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Your contributions</td>
                <td class="numeric"><strong class="bold">£19,292</strong></td>
            </tr>
            <tr>
                <td>Employer contributions</td>
                <td class="numeric"><strong class="bold">£32,760</strong></td>
            </tr>
            <tr>
                <td>Contribution total</td>
                <td class="numeric"><strong class="bold">£52,052</strong></td>
            </tr>
        </tbody>
    </table>
</section>
<hr class="visual-break">
<section>
    <h2 class="visually-hidden">1995 Pension</h2>

        <table>
        <caption class="heading-medium govuk-margin-top-0 govuk-margin-bottom-0">1995 pension contributions</caption>
        <thead>
            <tr>
                <th scope="col"><span class="visually-hidden">1995 pension contributions</span></th>
                <th class="numeric" scope="col"><span class="visually-hidden">Amount</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Your contributions</td>
                <td class="numeric"><strong class="bold">£23,196</strong></td>
            </tr>
            <tr>
                <td>Employer contributions</td>
                <td class="numeric"><strong class="bold">£58,500</strong></td>
            </tr>
            <tr>
                <td>Contribution total</td>
                <td class="numeric"><strong class="bold">£81,969</strong></td>
            </tr>
        </tbody>
    </table>

    </section>

    <br>
    {% include "includes/back-link-unstyled.html" %}

        </div>

    </div>
</main>

{% endblock %}