{% extends "layout_bsa.html" %}

{% block page_title %}
Share forecast - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <form action="share" method="post" class="form">                
                <div class="heading-group">
                    <p>{{ serviceName }}</p>
                    <h1 class="page-header--lede heading-large">
                        Who do you want to share your forecast with?
                    </h1>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">Enter email address</label>
                    <input class="form-control" id="email" name="email" type="text">
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>

</main>

{% endblock %}
