{% extends "layout_bsa.html" %}

{% block page_title %}
Home page {{ serviceName }} NHS BSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

    <span class="visually-hidden">{{ data['hiddenInputExampleShownOnHub'] }}</span>

    {% include "includes/phase_banner_beta.html" %}

    {% if data['show'] === "nino"  %}
    {{ bsaAccountDetailsBar({
        class: "",
        code: "NI number",
        codeValue: "QQ 12 34 56 C",
        headingClass: "large"
    }) }}

    {% else %}

    {{ bsaAccountDetailsBar({
        class: "",
        headingClass: "large"
    }) }}
    {% endif %}

    <div class="grid-row">
        <div class="column-full">

            <h1 class="visually-hidden" id="page-heading">{{ serviceName }} home</h1>

            <section aria-labelledBy="pensions-heading">
                <h2 class="heading-large" id="pensions-heading">Your pensions</h2>
                <ul class="grid-row grid-grid">

                    {# {% set estimate = data['estimate_test'] %}
                    {% if (estimate == 'A') %}
                    A = true
                    {% elif (estimate == 'B') %}
                    B = true
                    {% elif (estimate == 'C') %}
                    C = true
                    {% endif %} #}

                    {{ scheme }}
                    {% set scheme = data['scheme'] %}

                    {% if (scheme == null) or ('2015' in scheme) or ('0' in scheme) %} 
                    <li >
                        <div class="bsa-card">
                            <div class="bsa-card__content">
                                <h3 class="heading-small bsa-card__heading govuk-margin-top-0">2015 Pension</h3>
                                <div class="data govuk-margin-bottom-0">
                                    <span class="data-item bold-large">£2,231 <span class="bold-xsmall">a month (age 67)</span></span>
                                    <span class="data-item bold-xsmall"><span class="app-c-tag">Estimate</span></span>
                                </div>
                            </div>
                            <div class="bsa-card__actions">
                                <ul class="bsa-card__actions-list">
                                    <li><a href="estimate?schemeReference=2015">View your 2015 estimate</a></li>
                                    <li><a href="statement?schemeReference=2015&schemeYear=2018/2019">View your 2015 contribution statement</a></li>
                                    <li><a href="#">Get your 2015 pension</a></li>
                                    <!-- opt out only applicable to 2015 and only for 12 months? after joining scheme -->
                                    <li class="bsa-card__actions-break"><a href="#">Opt out of your 2015 pension</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% endif %}

                    {% if data['show'] === "trs"  %}
                        <li >
                            <div class="bsa-card">
                                <div class="bsa-card__content">
                                    <h3 class="heading-small bsa-card__heading govuk-margin-top-0">2008 Pension</h3>
                                    <div class="data govuk-margin-bottom-0">
                                        <span class="data-item bold-large">Unavailable</span>
                                        <span class="data-item bold-xsmall"><span class="app-c-tag app-c-tag--warning">See TRS</span></span>
                                    </div>
                                </div>
                                <div class="bsa-card__actions">
                                    <ul class="bsa-card__actions-list">
                                        {# <li><a href="estimate?schemeReference=2008">View your 2008 estimate</a></li> #}
                                        <li><a href="statement?schemeReference=2008&schemeYear=2007/2008">View your 2008 contribution statement</a></li>
                                        <li><a href="#">Get your 2008 pension</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li >
                            <div class="bsa-card">
                                <div class="bsa-card__content">
                                    <h3 class="heading-small bsa-card__heading govuk-margin-top-0">1995 Pension</a></h3>
                                    <div class="data govuk-margin-bottom-0">
                                        <span class="data-item bold-large">Unavailable</span>
                                        <span class="data-item bold-xsmall"><span class="app-c-tag app-c-tag--warning">See TRS</span></span>
                                    </div>
                                </div>
                                <div class="bsa-card__actions">
                                    <ul class="bsa-card__actions-list">
                                        {# <li><a href="estimate?schemeReference=1995">View your 1995 estimate</a></li> #}
                                        <li><a href="statement?schemeReference=1995&schemeYear=1994/1995">View your 1995 contribution statement</a></li>
                                        <li><a href="#">Get your 1995 pension</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% else %}

                        {% if (scheme == null) or ('2008' in scheme) or ('0' in scheme) %} 
                        <li >
                            <div class="bsa-card">
                                <div class="bsa-card__content">
                                    <h3 class="heading-small bsa-card__heading govuk-margin-top-0">2008 Pension</h3>
                                    <div class="data govuk-margin-bottom-0">
                                        <span class="data-item bold-large">£422 <span class="bold-xsmall">a month (age 65)</span></span>
                                        <span class="data-item bold-xsmall"><span class="app-c-tag">Estimate</span></span>
                                    </div>
                                </div>
                                <div class="bsa-card__actions">
                                    <ul class="bsa-card__actions-list">
                                        <li><a href="pension-details/forecast?schemeReference=2008">View your 2008 estimate</a></li>
                                        <li><a href="statement?schemeReference=2008&schemeYear=2007/2008">View your 2008 contribution statement</a></li>
                                        <li><a href="#">Get your 2008 pension</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endif %}

                    {% if data['show'] === "taking"  %}
                    <li >
                        <div class="bsa-card">
                            <div class="bsa-card__content">
                                <h3 class="heading-small bsa-card__heading govuk-margin-top-0">1995 Pension</h3>
                                <div class="data govuk-margin-bottom-0">
                                    <span class="data-item bold-large">£2,484 <span class="bold-xsmall">a month</span></span>
                                    <span class="data-item bold-xsmall"><span class="app-c-tag app-c-tag--success">taking</span></span>
                                </div>
                            </div>
                            <div class="bsa-card__actions">
                                
                                <ul class="bsa-card__actions-list">
                                    <li><a href="#">View your 1995 pension</a></li>
                                    <li><a href="statement?schemeReference=1995&schemeYear=1994/1995">View your 1995 contribution statement</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    {% else %}

                    {% if (scheme == null) or ('1995' in scheme) or ('0' in scheme) %}                    
                        <li >
                            <div class="bsa-card">
                                <div class="bsa-card__content">
                                    <h3 class="heading-small bsa-card__heading govuk-margin-top-0">1995 Pension</h3>
                                    <div class="data govuk-margin-bottom-0">
                                        <span class="data-item bold-large">£2,104 <span class="bold-xsmall">a month (age 60)</span></span>
                                        <span class="data-item bold-xsmall"><span class="app-c-tag">Estimate</span></span>
                                    </div>
                                </div>
                                <div class="bsa-card__actions">
                                    <ul class="bsa-card__actions-list">
                                        <li><a href="estimate?schemeReference=1995">View your 1995 estimate</a></li>
                                        <li><a href="statement?schemeReference=1995&schemeYear=1994/1995">View your 1995 contribution statement</a></li>
                                        {# <li><a href="membership/1995">View your 1995 membership record</a></li> #}
                                        <li><a href="#">Get your 1995 pension</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endif %}

                    {% endif %}
                        
                    {% endif %}



                </ul>

                <div class="grid-row">
                    <div class="column-two-thirds">
                        {% include "includes/caveat-link.html" %}
                    </div>
                </div>
            </section>

            <hr>

            <section aria-labelledBy="details-heading">
                <h2 class="heading-large" id="details-heading">Your details</h2>
                <ul class="grid-row grid-grid">
                    <li >
                        <div class="bsa-card">
                            <div class="bsa-card__content">
                                <h3 class="heading-medium bsa-card__heading"><a href="details">Your details</a></h3>
                                <p>Check and make sure your details are up to date.</p>
                            </div>
                        </div>
                    </li>

                    <li >
                        <div class="bsa-card">
                            <div class="bsa-card__content">
                                <h3 class="heading-medium bsa-card__heading"><a href="#">Your bank details</a></h3>
                                <p>Check and update your bank details. This is the bank account your pension is being paid into.</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>

            <hr>

            <section aria-labelledBy="think-heading">
                <h2 class="heading-large" id="think-heading">Think about</h2>
                <ul class="grid-row grid-grid">

                    <li >
                        <div class="bsa-card">
                            <div class="bsa-card__content">
                                <h3 class="heading-medium bsa-card__heading"><a href="#">Your nominations</a></h3>
                                <p>Name one or many people or organisations to get your pension if you die.</p>
                            </div>
                        </div>
                    </li>

                    <li >
                        <div class="bsa-card">
                            <div class="bsa-card__content">
                                <h3 class="heading-medium bsa-card__heading"><a href="#">Transferring a pension</a></h3>
                                <p>You can transfer in from another pension scheme registered with HM Revenue & Customs (HMRC).</p>
                            </div>
                        </div>
                    </li>

                    <li >
                        <div class="bsa-card">
                            <div class="bsa-card__content">
                                <h3 class="heading-medium bsa-card__heading"><a href="#">Your access</a></h3>
                                <p>Give access to your NHS Pension information to a trusted friend or family member.</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>

            <hr>
        </div>

    </div>
</main>

{% endblock %}