{% extends "layout_bsa.html" %}

{% block page_title %}
Home - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/logout-link.html" %}

    <div class="grid-row">
        <div class="column-full">

            <div class="heading-group govuk-margin-top-0">
                <p>{{ serviceName }}</p>
                <h1 class="heading-xlarge">Sam Curtis Jones</h1>
            </div>

            <ul class="grid-row grid-grid">
                <li>
                    <div class="bsa-card">
                        <div class="bsa-card__content">
                            <h2 class="heading-medium"><a href="/details">Your details</a></h2>
                            <p>Check and make sure your details are up to date.</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bsa-card">
                        <div class="bsa-card__content">
                            <h2 class="heading-medium"><a href="/pension-details">Your NHS pensions</a></h2>
                            <p>Check the pensions you belong to and how much you could get when you retire.</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bsa-card">
                        <div class="bsa-card__content">
                            <h2 class="heading-medium"><a href="/contributions">Your pension contributions</a></h2>
                            <p>View what you have paid into your NHS pensions.</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="bsa-card">
                        <div class="bsa-card__content">
                            <h2 class="heading-medium"><a href="https://stg.services.nhsbsa.nhs.uk/member-services/tea/start">Claim Your NHS Pension</a></h2>
                            <p>Start an application to claim your NHS Pension.</p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</main>

{% endblock %}