{% extends "layout_empty.html" %}

{% block page_title %}
  {{ serviceName }} prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
  	<div class="column-two-thirds">
		
			<div class="heading-group">
				<p>Private Beta – updated on 05/06/2019</p>
        <h1 class="heading-xlarge">{{ serviceName }}</h1>
			</div>
			<p><a href="/images/research/NHSBSA-Prototypes-050619-1515.pdf">View review notes</a></p>
			<p><a class="button" href="scenario" role="button">View prototype</a></p>
  	</div>

  	<div class="column-one-third">
		<aside class="govuk-related-items" role="complementary">
			<hr />
			<h2 class="heading-medium" id="subsection-title">Supporting pages</h2>
			<nav role="navigation" aria-labelledby="subsection-title">
			<ul class="list list-bullet font-xsmall">
				<li><a href="pages">Page templates</a></li>
				<li><a href="assisted">Assisted start</a></li>
				<li><a href="assisted/find?show=error">Assisted not found</a></li>
				<li><a href="assisted/find?show=invalid">Assisted invalid</a></li>
			</ul>
			</nav>
			<hr />
      </aside>
  	</div>

	</div>

	<hr />

	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-medium">Previous prototype versions</h2>
			<p>As we learn more about the <strong class="bold">{{ serviceName }}</strong> service and our user needs we are iterating the prototypes. Previous versions will be kept here as a historical record. The latest version can be accessed above.</p>
			<details>
				<summary><span class="summary">All previous versions</span></summary>

			  <div class="panel panel-border-narrow">

					<ul class="list list-bullet">
						<li><a href="https://nhs-pension-pb.herokuapp.com/">Private Beta</a></li>
						<li><a href="https://nhs-pension-v3.herokuapp.com/">Version 3.0</a></li>
						<li><a href="https://nhs-pension-v2.herokuapp.com/">Version 2.0</a></li>
						<li><a href="https://nhs-pension-v1.herokuapp.com/">Version 1.0</a></li>
						<li><a href="https://valtech.invisionapp.com/share/8JPESRSUYBM#/341202285_Your_NHS_Pension_Dashboard_Latest_Desktop_1024x1024">Version 0.3 - InVision</a></li>
						<li><a href="https://mnhsp-prototype.herokuapp.com/mnhsp_V2/startpage">Version 0.2 - 5th Dec 2018 </a></li>
		        <li><a href="https://mnhsp-prototype.herokuapp.com/mnhsp/startpage">Version 0.1 - 18th Oct 2018 </a></li>
		      </ul>

			  </div>

			</details>
			
		</div>
	</div>

</main>

{% endblock %}


