{% extends "layout_bsa.html" %}

{% block page_title %}
  {{ serviceName }} prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
  	<div class="column-two-thirds">
		
			<div class="heading-group">
				<p>v3.0 – Started on 11/02/2019</p>
        <h1 class="heading-xlarge">{{ serviceName }}</h1>
			</div>

        <h2 class="heading-medium">Previous research showed:</h2>
        <ul class="list list-bullet">
					<li>Users are confused when we show them schemes they are not part of</li>
        	<li>Users were thinking that pension amounts shown were what they were going to get</li>
        </ul>
				<p><a href="/images/research/06+02+19+myNHS+-+Nottingham.pdf">View research notes</a></p>
        <h2 class="heading-medium">Changes made:</h2>
        <ul class="list list-bullet">
        	<li>Added screening question to determine schemes</li>
					<li>Removed 2015 calculator access from 'hub' page</li>
					<li>Removed 2015 calculator access from 'start' page</li>
					<li>Labeled total as 'Contribution total' on schemes page</li>
					<li>Made headings consistent including service name where appropriate</li>
        </ul>        
        <p><a class="button" href="scenario" role="button">View prototype</a></p>
  	</div>

  	<div class="column-one-third">
			<aside class="govuk-related-items" role="complementary">
				<hr />
        <h2 class="heading-medium" id="subsection-title">Supporting pages</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="list list-bullet font-xsmall">
            <li><a href="pages">Page templates</a></li>
          </ul>
        </nav>
				<hr />
      </aside>
  	</div>

	</div>

	<hr />

	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-medium">Previous prototype versions</h2>
			<p>As we learn more about the <strong class="bold">{{ serviceName }}</strong> service and our user needs we are iterating the prototypes. Previous versions will be kept here as a historical record. The latest version can be accessed above.</p>
			<details>
				<summary><span class="summary">All previous versions</span></summary>

			  <div class="panel panel-border-narrow">

					<ul class="list list-bullet">
						<li><a href="https://nhs-pension-v3.herokuapp.com/">Version 3.0</a></li>
						<li><a href="https://nhs-pension-v2.herokuapp.com/">Version 2.0</a></li>
						<li><a href="https://nhs-pension-v1.herokuapp.com/">Version 1.0</a></li>
						<li><a href="https://valtech.invisionapp.com/share/8JPESRSUYBM#/341202285_Your_NHS_Pension_Dashboard_Latest_Desktop_1024x1024">Version 0.3 - InVision</a></li>
						<li><a href="https://mnhsp-prototype.herokuapp.com/mnhsp_V2/startpage">Version 0.2 - 5th Dec 2018 </a></li>
		        <li><a href="https://mnhsp-prototype.herokuapp.com/mnhsp/startpage">Version 0.1 - 18th Oct 2018 </a></li>
		      </ul>

			  </div>

			</details>
			
		</div>
	</div>

</main>

{% endblock %}


