{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    
    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="heading-group">
          <p>{{ serviceName }}</p>
          <h1 class="heading-large">You have been signed out</h1>
        </div>

        <p>You have successfully signed out of {{ serviceName }}.</p>
        <h2 class="heading-medium">What's next?</h2>
        <p>If you want to access {{ serviceName }} you will need to <a href="/start">Start again</a> and reconfirm your identity using GOV.UK Verify.</p>
        <p><a href="https://www.nhsbsa.nhs.uk/nhs-pensions">Find out more about pensions in the NHS</a>.</p>
      </div>
    </div>
</main>

{% endblock %}
