{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}
    
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="heading-group">
          <p>{{ serviceName }}</p>
          <h1 class="heading-large">Match not found</h1>
        </div>

        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            The National Insurance number you entered could not be matched with our records.
          </strong>
        </div>
        <br>
        <p>You entered <strong class="bold">JH344556A</strong>. If this is a mistake you can try again, 
        otherwise you will need to contact your employer.</p>

        <a href="nino" class="button">Try again</a>

      </div>
    </div>
</main>

{% endblock %}
