{% extends "layout_bsa.html" %}

{% block page_title %}
Your NHS Pension - My NHS Pension - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner_beta.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>NHS Business Services Authority</p>
                <h1 class="heading-xlarge">{{ serviceName }}</h1>
            </div>
            <h2 class="heading-medium">Use this service to see:</h2>
            <ul class="list list-bullet">
                <li>the personal details we hold about you</li>
                <li>pension schemes and sections you belong to</li>
                <li>dates you can retire</li>
                <li>what your pension could be worth in the future</li>
                <li>a pension estimate based on different situations</li>
            </ul>
            <h2 class="heading-medium">You'll need:</h2>
            <ul class="list list-bullet">
                <li>your National Insurance number</li>
                <li>to sign in using GOV.UK Verify</li>
            </ul>
            <h2 class="heading-medium">What to do if you haven’t used GOV.UK Verify</h2>
            <p>This takes about 10 minutes to get set up. You’ll then be able to use it to access other NHS and government services.</p>

            <h2 class="heading-medium">What to do if your details change</h2>
            <p>You must keep us up to date with any changes. Incorrect details can impact and delay your NHS Pension.</p>
            <p><a class="button button-get-started" href="/id">Start now</a></p>
        </div>

    </div>
</main>

{% endblock %}