{% extends "layout_bsa.html" %}

{% block page_title %}
Your NHS Pension - My NHS Pension - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

    {% include "includes/phase_banner_beta.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">{{ serviceName }}</h1>
            <h2 class="heading-medium">Use this service to:</h2>
            <ul class="list list-bullet">
                <li>see the personal details we hold about you</li>
                <li>see pension schemes and sections you belong to</li>
                <li>see dates you can retire</li>
                <li>see what your pension could be worth in the future</li>
                <li>get a pension estimate based on different situations</li>
            </ul>
            <h2 class="heading-medium">You will need</h2>
            <ul class="list list-bullet">
                <li>your National Insurance number</li>
                <li>to sign in using GOV.UK Verify. If you haven’t used GOV.UK Verify before, it takes about 10 
                minutes to get set up. You’ll then be able to use it with other NHS and government services.</li>
            </ul>
            <p><a class="button button-get-started" href="/confirm-identity">Start now</a></p>
            <br />
            <p>Keeping your details up to date is important. Not having the correct details may impact and delay your NHS pension.</p>
            <p>When planning for your retirement, you may also wish to take independent financial advice.</p>
        </div>

        <div class="column-one-third">
            <h3 class="heading-medium">Other NHS Pension services</h3>
            <p><a href="/calculator">2015 Scheme NHS Pension Calculator</a></p>
        </div>

    </div>
</main>

{% endblock %}