{% extends "layout_bsa.html" %}

{% block page_title %}
Summary of your contact details - My NHS pension - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Your details</h1>
            </div>

            <p>Last updated: <strong class="bold">31st March 2018</strong></p>

            <table class="check-table stack-table center-on-stack" id="contact-details">
                <caption class="visually-hidden">Personal details</caption>
                <thead>
                    <tr>
                        <th colspan="2">Personal details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Full name</td>
                        <td class="centered-item bold" scope="col">Sam Curtis Jones</td>
                    </tr>
                    <tr>
                        <td scope="col">National Insurance number</td>
                        <td class="bold" scope="col">AC 12 34 56 C</td>
                    </tr>
                    <tr>
                        <td scope="col">Date of birth</td>
                        <td class="bold" scope="col">01/12/1987</td>
                    </tr>
                    <tr>
                        <td scope="col">Gender</td>
                        <td class="bold" scope="col">Male</td>
                    </tr>
                </tbody>
            </table>

            <br>

            <table class="check-table stack-table center-on-stack" id="contact-details">
                <caption class="visually-hidden">Contact details</caption>
                <thead>
                    <tr>
                        <th colspan="2">Contact details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Home address</td>
                        <td class="bold" scope="col">29 Larkholme Lane,<br> Fleetwood, FY7 8AU</td>
                    </tr>
                    <tr>
                        <td scope="col">Email address</td>
                        <td class="bold" scope="col">mark.wright6@nhs.net</td>
                    </tr>
                    <tr>
                        <td scope="col">Mobile number</td>
                        <td class="bold" scope="col">0200 010 303</td>
                    </tr>
                </tbody>
            </table>

            <br>

            <details>
                <summary><span class="summary">What to do if your details are incorrect</span></summary>
                <div class="panel panel-border-narrow">
                    <p>You can make changes on your Electronic Staff Record (ESR). If you cannot access ESR, contact your employer.</p>
                </div>
            </details>

            <hr>
            {% include "includes/back-to-home-link.html" %}

        </div>
    </div>

</main>

{% endblock %}
