{% extends "layout_bsa.html" %}

{% block page_title %}
Summary of your contact details - My NHS pension - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {{ bsaAccountDetailsBar({
        class: "bsa-account-details-bar--slim"
    }) }}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="heading-group">
                <p>{{ serviceName }}</p>
                <h1 class="heading-large">Your details</h1>
            </div>

            <p>Last updated: <strong class="bold">31 March 2018</strong></p>

            <h2 class="heading-medium">Personal details</h2>

            <dl class="govuk-check-your-answers cya-questions-short cya-no-change">
                <div>
                    <dt class="cya-question">Full name</dt>
                    <dd class="cya-answer">Sam Curtis Jones</dd>
                </div>

                <div>
                    <dt class="cya-question">National Insurance number</dt>
                    <dd class="cya-answer">AC 12 34 56 C</dd>
                </div>

                <div>
                    <dt class="cya-question">Date of birth</dt>
                    <dd class="cya-answer">1 December 1987</dd>
                </div>

                <div>
                    <dt class="cya-question">Gender</dt>
                    <dd class="cya-answer">Male</dd>
                </div>
            </dl>

            <h2 class="heading-medium">Contact details</h2>

            <dl class="govuk-check-your-answers cya-questions-short cya-no-change">
                <div>
                    <dt class="cya-question">Home address</dt>
                    <dd class="cya-answer">
                        29 Larkholme Lane,<br> Fleetwood, FY7 8AU
                    </dd>
                </div>

                <div>
                    <dt class="cya-question">Email address</dt>
                    <dd class="cya-answer">sam.jones@madeupaddress.net</dd>
                </div>

                <div>
                    <dt class="cya-question">Mobile number</dt>
                    <dd class="cya-answer">0200 010 303</dd>
                </div>

            </dl>

            <br>

            <details>
                <summary><span class="summary">What to do if your details are incorrect</span></summary>
                <div class="panel panel-border-narrow">
                    <p>You can make changes on your Electronic Staff Record (ESR). If you cannot access ESR, contact your employer.</p>
                </div>
            </details>

            <hr>
            {% include "includes/back-to-home-link.html" %}

        </div>
    </div>

</main>

{% endblock %}
