<!-- Javascript -->
<!--[if lte IE 8]><script src="/public/v6/javascripts/bind.js"></script><![endif]-->
<script src="/public/v6/javascripts/details.polyfill.js"></script>
<script src="/public/v6/javascripts/jquery-1.11.3.js"></script>
<script src="/public/v6/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/v6/javascripts/govuk/show-hide-content.js"></script>

<!-- Modal component -->
<script type="text/javascript" src="/public/v6/javascripts/components/namespacing.js"></script>
<script type="text/javascript" src="/public/v6/javascripts/components/accessibility-helpers.js"></script>
<script type="text/javascript" src="/public/v6/javascripts/components/dialog.js"></script>

<!-- Modal dialog component -->
<script type="text/javascript" src="/public/v6/javascripts/vendor/dialog-polyfill.0.4.3.js"></script>
<script type="text/javascript" src="/public/v6/javascripts/modal-dialog.js"></script>


<script src="/public/v6/javascripts/application.js"></script>



{% if useAutoStoreData %}
  <script src="/public/v6/javascripts/auto-store-data.js"></script>
{% endif %}
