<table>
	<thead>
		<tr>
			<th>Tier</th>
			<th scope="col">Salary</th>
			<th class="numeric" scope="col">Contribution rate</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Up to £15,431.99</td>
			<td class="numeric">5.0%</td>
		</tr>
		<tr>
			<td>2</td>
			<td>£15,432.00 to £21,477.99</td>
			<td class="numeric">5.6%</td>
		</tr>
		<tr>
			<td>3</td>
			<td>£21,478.00 to £26,823.99</td>
			<td class="numeric">7.1%</td>
		</tr>
		<tr>
			<td>4</td>
			<td>£26,824.00 to £47,845.99</td>
			<td class="numeric">9.3%</td>
		</tr>
		<tr>
			<td>5</td>
			<td>£47,846.00 to £70,630.99</td>
			<td class="numeric">12.5%</td>
		</tr>
		<tr>
			<td>6</td>
			<td>£70,631.00 to £111,376.99</td>
			<td class="numeric">13.5%</td>
		</tr>
		<tr>
			<td>7</td>
			<td>£111,377.00 and over</td>
			<td class="numeric">14.5%</td>
		</tr>
	</tbody>
</table>
<br>
<p>The contribution rates shown are from 1 April 2015 to 31 March 2021.</p>