{% extends "layout_bsa.html" %}

{% block page_title %}
Scratchpad - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">1995 scheme membership statement</h1>

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        html: "2003-2004 <b>Year is not full</b>"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Writing well for the web.</p>"
      }
    },
    {
      heading: {
        text: "Writing well for specialists"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Writing well for specialists.</p>"
      }
    },
      {
      heading: {
        text: "Know your audience"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Know your audience.</p>"
      }
    },
      {
      heading: {
        text: "How people read"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for How people read.</p>"
      }
    }
  ]
}) }}

</div>
</div>


{% endblock %}