{% extends "layout_bsa.html" %}

{% block page_title %}
Your pension information - {{ serviceName }} - NHSBSA
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/back-link.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            
            <div class="interrupt-panel">
                <div class="heading-group">
                    <h1 class="heading-large">Tell your employer about any incorrect information</h1>
                </div>
                <hr>
                <p>It is your employer&rsquo;s responsibility to keep your personal and pension information up to date.</p>
                <p>You can make changes to your personal details on your electronic staff record (ESR).</p>
                <p>If you cannot access ESR, contact your employer.</p>
                <hr>
                <a href="estimate" class="button">Next</a>
            </div>

        </div>
    </div>
        
</main>

{% endblock %}
